.navbar-fixed-top {
    min-width: 700px;
    overflow:none;
}
.pct:after
{
content:"%";
} 
table .header{cursor:pointer;}table .header:after{content:"";float:right;margin-top:7px;border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;}
table .headerSortUp,table .headerSortDown{background-color:rgba(141, 192, 219, 0.25);text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);}
table .header:hover:after{visibility:visible;}
table .headerSortDown:after,table .headerSortDown:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .headerSortUp:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .blue{color:#049cdb;border-bottom-color:#049cdb;}
table .headerSortUp.blue,table .headerSortDown.blue{background-color:#ade6fe;}
table .green{color:#46a546;border-bottom-color:#46a546;}
table .headerSortUp.green,table .headerSortDown.green{background-color:#cdeacd;}
table .red{color:#9d261d;border-bottom-color:#9d261d;}
table .headerSortUp.red,table .headerSortDown.red{background-color:#f4c8c5;}
table .yellow{color:#ffc40d;border-bottom-color:#ffc40d;}
table .headerSortUp.yellow,table .headerSortDown.yellow{background-color:#fff6d9;}
table .orange{color:#f89406;border-bottom-color:#f89406;}
table .headerSortUp.orange,table .headerSortDown.orange{background-color:#fee9cc;}
table .purple{color:#7a43b6;border-bottom-color:#7a43b6;}
table .headerSortUp.purple,table .headerSortDown.purple{background-color:#e2d5f0;}

footer {
    background-color: #F9F9F9;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color:#ffffff;
}
.recline-data-explorer .header {
    display: none;
}
.hidden-results-tr {
    display:none;
}
.zeroresults {
    display:none;
}
.condition-hidden {
    display:none;
}
.clearer {
    clear:both;
}


/* Main marketing message and sign up button */
.jumbotron {
    margin: -20px 0 40px;
    text-align: center;
}
/*.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    margin-top:40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(img/pwyf_medium.png) no-repeat top left;
    opacity: 1;
}*/
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
h1, .brand {
    font-family: "Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar a.brand {
    -webkit-transition: all .2s ease-in-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-delay: initial;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navbar a.brand:hover {
    color:#000000;
}
.black {
    color:#ffffff;
    font-size:75px;
}
.masthead {
    background: #365e93;
    background: -moz-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#365e93),color-stop(100%,#7c9ac4));
    background: -webkit-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -o-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -ms-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: linear-gradient(45deg, #365e93 0%, #7c9ac4 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#365e93',endColorstr='#7c9ac4',GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    padding:60px 0 30px;
    margin-top:none;
    top:0;
    color:#ffffff;
}
.masthead a {
    color:#ffffff;
    font-weight:bold;
}
.masthead a:hover {
    color:#ffffff;
}

/* Main marketing message and sign up button */
.jumbotron-index {
    margin: 40px 0 60px;
    text-align: center;
}
.jumbotron-index h1 {
    font-size: 80px;
    line-height: 1;
}

.publish-branding {
    background: #365e93;
    background: -moz-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#365e93),color-stop(100%,#7c9ac4));
    background: -webkit-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -o-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: -ms-linear-gradient(45deg,#365e93 0%,#7c9ac4 100%);
    background: linear-gradient(45deg, #365e93 0%, #7c9ac4 100%) repeat scroll 0 0 transparent;
    margin-top:none;
    top:0;
    color:#ffffff;
}
.publish-branding a.dropdown-toggle {
    color:#ffffff !important;
    text-shadow: 0 1px 0 #777777 !important;
}
.publish-branding.open a.dropdown-toggle {
    background: #365e93 !important;
}
.navbar {
    margin-bottom:19px;
}
.publish-branding .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF !important;
    border-top-color: #FFFFFF !important;
}
