#test_summaries svg {
  font: 10px sans-serif; }
#test_summaries text.title {
  font: 300 40px Helvetica Neue;
  fill: #666; }
#test_summaries .rule line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges; }
#test_summaries .rule:first-child line {
  stroke: #000;
  stroke-opacity: 1; }
#test_summaries rect {
  fill-opacity: .6; }
