BROKER_HOST = "localhost"
BROKER_PORT = 5672
BROKER_VHOST = "/"
BROKER_USER = "guest"
BROKER_PASSWORD = "guest"

#SQLALCHEMY_DATABASE_URI = 'mysql+oursql://user:passwd@127.0.0.1/iatidq'
#SQLALCHEMY_DATABASE_URI = 'sqlite:///dataquality.sqlite'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2:///iatidq'
DATA_STORAGE_DIR = "/the/absolute/path/to/your/data/"

SECRET_KEY = "YOUR-REALLY-SECRET-KEY"
SECRET_PASSWORD = "YOUR-SECRET-PASSWORD"
