import os.path


BROKER_HOST = "localhost"
BROKER_PORT = 5672
BROKER_VHOST = "/"
BROKER_USER = "guest"
BROKER_PASSWORD = "guest"

#SQLALCHEMY_DATABASE_URI = 'mysql+oursql://user:passwd@127.0.0.1/iatidq'
#SQLALCHEMY_DATABASE_URI = 'sqlite:///dataquality.sqlite'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2:///iatidq'
DATA_STORAGE_DIR = os.path.join(os.path.realpath(os.path.dirname(__file__)), 'relative', 'path', 'to', 'your', 'data')

SECRET_KEY = "YOUR-REALLY-SECRET-KEY"

INDICATOR_GROUP = u"2014index"

CODELIST_API = "https://raw.githubusercontent.com/pwyf/iati-codelists/master/%s"

#SETUP_ORGS = ["undp", "dfid"]
#SETUP_PKG_COUNTER = 10

ORG_FREQUENCY_API_URL = "http://dashboard.iatistandard.org/timeliness_frequency.csv"
IATIUPDATES_URL = "http://tracker.publishwhatyoufund.org/iatiupdates/api/package/hash/"

REMOVE_RESULTS = False
