from os.path import dirname, join, realpath


BROKER_HOST = "localhost"
BROKER_PORT = 5672
BROKER_VHOST = "/"
BROKER_USER = "guest"
BROKER_PASSWORD = "guest"

SQLALCHEMY_TRACK_MODIFICATIONS = False
#SQLALCHEMY_DATABASE_URI = 'mysql+oursql://user:passwd@127.0.0.1/iatidq'
#SQLALCHEMY_DATABASE_URI = 'sqlite:///dataquality.sqlite'
SQLALCHEMY_DATABASE_URI = 'postgresql+psycopg2:///iatidq'
DATA_STORAGE_DIR = join(realpath(dirname(__file__)), 'relative', 'path', 'to', 'your', 'data')

SECRET_KEY = "YOUR-REALLY-SECRET-KEY"

INDICATOR_GROUP = u"2018index"

CODELIST_API = u"http://iatistandard.org/{version}/codelists/downloads/clv2"

SETUP_ORGS = ['afdb', 'asdb', 'ausgov', 'be-dgd', 'dfatd-maecd', 'danida',
              'ebrd', 'ec-devco', 'ec-near', 'ec-echo', 'eib', 'finland_mfa',
              'france', 'afd', 'bmgf', 'gavi', 'bmz', 'iadb', 'irishaid',
              'jica', 'minbuza_nl', 'maec', 'sida', 'sdc_ch', 'theglobalfund',
              'dfid', 'unicef', 'undp', 'ocha_fts', 'unitedstates',
              'worldbank']
#SETUP_PKG_COUNTER = 10

ORG_FREQUENCY_API_URL = "http://dashboard.iatistandard.org/timeliness_frequency.csv"
IATIUPDATES_URL = "http://tracker.publishwhatyoufund.org/iatiupdates/api/package/hash/"

REMOVE_RESULTS = False

INTRO_HTML = 'Data collection for the <a href="http://www.publishwhatyoufund.org/the-index/">2018 Aid Transparency Index</a> has now started. We will release more detailed information in June 2018 when the Aid Transparency Index will be launched. Results and analysis for previous years is available in the <a href="http://ati.publishwhatyoufund.org/" target="_blank">2016 Index</a>.'

ATI_YEAR = '2018'
PREVIOUS_ATI_YEAR = '2016'
