amqp==2.2.2
amqplib==1.0.2
anyjson==0.3.3
blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
ckan==2.7.0
ckanclient==0.10
click==6.7
et-xmlfile==1.0.1
Flask==0.12.3
Flask-Login==0.4.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.2
git+https://github.com/pwyf/bdd-tester.git#egg=bdd-tester
idna==2.6
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10.1
kombu==4.1.0
lxml==3.8.0
Markdown==2.6.9
MarkupSafe==1.0
meld3==1.0.2
openpyxl==2.4.8
pika==0.11.0
psycopg2==2.7.3.1
python-dateutil==2.6.1
PyYAML>=4.2b1
requests==2.20.0
six==1.10.0
SQLAlchemy==1.3.0
sqlalchemy-mixins==0.2.2
supervisor==3.3.3
typing==3.6.2
unicodecsv==0.14.1
urllib3==1.24.2
vine==1.1.4
Werkzeug==0.12.2
