amqp==2.2.2
amqplib==1.0.2
anyjson==0.3.3
bdd-tester==0.0.8
certifi
chardet==3.0.4
ckanapi==4.3
docopt==0.6.2
et-xmlfile==1.0.1
Flask<3
Flask-Login
Flask-Principal==0.4.0
Flask-SQLAlchemy<3
gherkin-official==4.1.3
iatikit==3.2.1
idna==2.6
jdcal==1.3
kombu==4.1.0
lxml
Markdown==2.6.9
meld3==1.0.2
openpyxl==2.4.8
pip-tools
psycopg2-binary
python-dateutil==2.6.1
python-dotenv
python-slugify==3.0.2
PyYAML
requests
simplejson==3.16.0
six==1.10.0
SQLAlchemy==1.3.11
sqlalchemy-mixins==0.2.2
text-unidecode==1.2
typing==3.6.2
unicodecsv==0.14.1
urllib3
vine==1.1.4
Werkzeug
