bdd-tester==0.0.8
Flask<3
Flask-Login
Flask-Principal==0.4.0
Flask-SQLAlchemy<3
iatikit==3.6.1
lxml
pip-tools
psycopg2-binary
python-dotenv
PyYAML
requests
SQLAlchemy==1.3.11
sqlalchemy-mixins==0.2.2
Werkzeug
