[unix_http_server]
file=/tmp/supervisor.sock   ; (the path to the socket file)

[supervisord]
logfile=/tmp/supervisord.log ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10           ; (num of main logfile rotation backups;default 10)
loglevel=info                ; (log level;default info; others: debug,warn,trace)
pidfile=/tmp/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
nodaemon=false               ; (start in foreground if true;default false)
minfds=1024                  ; (min. avail startup file descriptors;default 1024)
minprocs=200                 ; (min. avail process descriptors;default 200)

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock ; use a unix:// URL  for a unix socket

[program:iatidownload]
; BELOW: on the line beginning command, add the path to your python install, 
; or if you are using a virtualenv, the virtualenv path followed by a space 
; and then the path to the download_backend.py script. E.g. below...
command = ./download_backend.py
process_name=%(process_num)s
numprocs=1

[program:iatitest]
; BELOW: on the line beginning command, add the path to your python install, 
; or if you are using a virtualenv, the virtualenv path followed by a space 
; and then the path to the download_backend.py script. E.g. below...
command = ./tests_backend.py
process_name=%(process_num)s
numprocs=1

[program:webapp]
command = ./manage.py runserver
process_name=%(process_num)s
stopasgroup=true 
killasgroup=true 
