{% extends "layout.html" %}

{% set page_title = "Survey" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3" role="complementary" id="sidebar">
      <nav class="sidebar-nav hidden-print hidden-sm hidden-xs" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
        <ul class="nav">
          <li class="nav-item">
            {% for component in components %}
            <a class="nav-link" href="#{{ component.id }}">{{ component.name }}</a>
            <ul class="nav">
                {% for indicator in component.indicators %}
                <li class="nav-item">
                    <a class="nav-link" href="#{{ indicator.id }}">{{ indicator.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-9 my-3" role="main">
      <form>
        {% for component in components %}
          <h2 class="component-name" id="{{ component.id }}">{{ component.name }}</h2>

          <p>{{ component.description }}</p>

          {% for indicator in component.indicators %}
            <h3 id="{{ indicator.id }}">{{ indicator.name }}</h3>

            {{ indicator.description }}

            <div class="indicator">
              <div class="research-findings">
                <p>Publish What You Fund research findings:</p>
                <p class="comments">Global RTI rating score for Gringotts is 77. Score conversion from total score on Global RTI rating to Index points done using the following scale: 1 - 60: 33 61- 90: 66 91 - 150: 100.</p>
                <p>Evidence:</p>
                <ul class="evidence">
                  <li><a href="http://harrypotter.wikia.com/wiki/Gringotts_Wizarding_Bank">http://harrypotter.wikia.com/wiki/Gringotts_Wizarding_Bank</a></li>
                </ul>
              </div>

              <div class="publisher-response">
                <h5>Your response:</h5>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="quality-of-foi-legislation-agree-disagree" id="quality-of-foi-legislation-agree" value="agree"> Agree
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="quality-of-foi-legislation-agree-disagree" id="quality-of-foi-legislation-disagree" value="disagree"> Disagree
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label for="quality-of-foi-legislation-comments">Comments</label>
                  <textarea placeholder="Explain why you agree / disagree" class="form-control" id="quality-of-foi-legislation-comments" rows="3"></textarea>
                </div>

                <div class="evidence-inputs" id="quality-of-foi-legislation-evidence" data-counter="1">
                  <label for="quality-of-foi-legislation-evidence-1">Evidence</label>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="url" class="form-control" id="quality-of-foi-legislation-evidence-1" placeholder="http://...">
                      <span class="input-group-btn">
                        <button class="btn btn-primary add-evidence" type="button">+</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
