{% set active_page='about' %}{% extends "layout.html" %}
{% block title %}About the survey tool{% endblock %}

{% block content %}
  <h3>About</h3>
  <p> <a href=“http://www.publishwhatyoufund.org”>Publish What You Fund</a> has developed this survey tool  to assess aid information published by organisations in formats other than IATI XML, based on data collected manually for the annual Aid Transparency Index.</P>
  <hr />
  <h3>Methodology</h3>
  <p>Manual surveys for all organisations included in the 2013 Aid Transparency Index are completed using information relating to the country that received the largest amount of aid by value from that donor organisation. The OECD DAC’s 2011 CRS data is used for determining highest recipient. If this information is not available in the CRS, then the largest recipient is determined using the latest annual report for the donor organisation or related ministry. To establish that the information is consistently published at the activity level, a minimum of five activities are selected at random in that country. While checking and verifying data, organisations are asked to confirm if the responses are representative as a whole.</p>
  <p>The survey tool is designed to capture the format (machine readable XML or CSV, webpages or pdf) in which the information is provided and whether it is ‘always’ published, ‘sometimes’ published or ‘not available’.</p>
  <p>Details on the scoring approach for survey data can be found <a href="http://www.publishwhatyoufund.org/index/2013-index-changes/">here</a>.</p>
   <hr />
{% endblock %}
