{% set active_page='about' %}{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h3>Aid Transparency Tracker: Publish</h3>

<p class="lead">This section of the Tracker looks at the quality of
different organisations' aid information.</a>.</p>

<h3>Purpose</h3>

  <p>The main purpose of this section is to analyse what information
  donors are currently publishing. It combines an automated assessment
  of data released through the <a href="http://aidtransparency.net">
  International Aid Transparency Initiative</a> (IATI), with manually
  collected data in order to understand what information donors are
  currently making available, and in what formats.</p>

  <p>We hope that this will be a useful resource for others trying to
  understand what donors are doing in order to meet their commitments
  to publish to a common, open standard by 2015, as well as for those
  who want to use the data.</p>

  <p>The information collected in the <a href="/plan">Plan</a> and
  Publish sections will provide the data for the 2014 Aid Transparency
  Index.</p>

<hr />
<h3>Methodology</h3>
  
<h4>Automated data quality assessment</h4>

  <p>Data published to the IATI Registry is machine readable and
  conforms to a common standard. This makes it possible to
  automatically collect and analyse this data, by running a series of
  tests against it.</p>

  <p>These tests have been designed to assess the availability,
  comprehensiveness and comparability of the information and to
  determine whether an organisation's publication conforms to
  the <a href="http://iatistandard.org">IATI Standard</a>. The tests
  have been derived from the IATI schemas.</p>

  <p>For the purposes of the 2014 Index, tests are run against current
  activities, defined as:</p>

    <ul>
        <li>ongoing activities</li>
        <li>planned end dates within the previous 12 months</li>
        <li>actual end dates within the previous 12 months</li>
        <li>transaction dates within the previous 12 months</li>
    </ul>

  <p>The tests are also run against all IATI data published by an
  organisation. This data is not included in the Index, but can be
  accessed on an organisation's results page.</p>
  
  <p>For each test, the following analysis is provided:</p>
  <ul>
        <li><b>organisation level</b> &ndash; whether the document exists;</li>
        <li><b>activity level</b> &ndash; percentage of activities
        that have passed that test.</li>

  </ul>

  <p>Three organisation level tests use a different scoring approach:</p>

  <ul>
        <li><b>total budget</b> &ndash; whether forward budgets exist
        for each of the next three years;</li>
        <li><b>country budgets</b> &ndash; the percentage of country
        budgets that exist for each of the next three years, as a
        proportion of the total budget;</li>
        <li><b>country strategy papers</b> &ndash; the percentage of
        countries for which there is a current country budget, which
        have a country strategy paper.</li>
  </ul>

  <p>Test results are then aggregated &ndash; based on the 2014 Aid
  Transparency Index indicators they relate to &ndash; in order to
  produce scores for these indicators. The tests underlying the
  measurement of each indicator can be viewed by clicking on
  the <i class="icon-chevron-down"></i> detail button on the
  publication page for the relevant organisation.</p>

  <h4>Manual assessment</h4>

  <p>Information published in other formats that cannot be
  automatically assessed is collected via a survey. Surveys are
  completed for all organisations included in the 2014 Aid
  Transparency Index. Only information that is <b>always</b> published
  is scored. To establish that the information is always published at
  the activity level, a minimum of five activities from an
  organisation's largest recipient of aid are selected at
  random. While checking and verifying data, organisations are asked
  to confirm if the responses are representative as a whole.</p>

  <p>The survey also captures the format (machine readable XML or CSV,
  webpages or PDF) in which the information is provided.</p>

<hr />
  <h3>More information</h3>

  <p>Full details of how the information collected will be assessed
  and scored in the 2014 Index is provided in the scoring guide.</p>

    <a href="http://www.publishwhatyoufund.org/index/2014-ati/"
    class="btn">More details &raquo;</a>

{% endblock %}
