{% set active_page='aggregationtype' %}{% extends "layout.html" %}
{% block title %}
  {% if aggregationtype %}
    Edit
  {% else %}
    New
  {% endif %} 
  Aggregation Types
{% endblock %}
{% block content %}
	{% if aggregationtype %}
       <h1>Edit aggregation type {{aggregationtype.name}}</h1>
    {% else %}
       <h1>New aggregation type</h1>
    {% endif %}
    <form name="aggregationtypeupdate" method="post" action="">
    <table class="table">
    <thead>
    <th>Item</th><th>Value</th>
    </thead>
    <tbody>
    <tr>
	<td>Name:</td>
	<td>
      <input type="text" name="name" value="{{ aggregationtype.name }}"/>
    </td>
    </tr>
    <tr>
    <td>Description:</td>
	<td>
	  <textarea name="description">
		{{aggregationtype.description}}
	  </textarea>
	</td>
    </tr>
    <tr>
    <td>Test:</td>
	<td><select name="test_id" disabled><option value=""></option>
	{% for test in tests %}
        <option value="{{test.id}}"
          {% if test.id==aggregationtype.test_id %} 
            selected
          {% endif %}>{{test.id}}. {{test.description}}</option>
    {% endfor %}
    </select></td>
    </tr>
    <tr>
    <td>Expected result:</td><td>
    <select name="test_result" disabled>
        <option value="0" 
		{% if aggregationtype.test_result==0 %} selected{% endif %}
				>0</option>

        <option value="1"
		{% if aggregationtype.test_result==1 %} selected{% endif %}
				>1</option>
    </select></td>
    </tr>
    <tr>
    <td colspan="2"><input type="submit" value="Update" class="btn"/></td>
    </tr>
    </tbody>
    </table>
    </form>

{% endblock %}
