{% set active_page='aggregationtype'%}{% extends "layout.html" %}
{% block title %}Aggregation Types{% endblock %}
{% block content %}
   <script src="{{url_for('static', 
				          filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#at").tablesorter({ sortList: [[0,0]] });
    });
    </script>
	<h1>Aggregation Types</h1>
    <div class="pull-right">
    <a class="btn btn-success" 
	   href="{{url_for('aggregationtypes_edit')}}">
	  <i class="icon-white icon-plus"></i> <b>New</b></a>
    </div>
    <table class="table" id="at">
    <thead>
    <th>Name</th><th>Description</th><th>Test</th><th>Test result</th>
    </thead>
    <tbody>
	{% for aggregationtype in aggregationtypes %}
    <tr>
	<td>
        {{ aggregationtype.AggregationType.name }}
    </td>
    <td>{{aggregationtype.AggregationType.description}}</td>
    <td>
	  <a href="{{url_for('tests', id=aggregationtype.Test.id)}}">{{aggregationtype.Test.description}}</a>
	</td>
    <td>{{aggregationtype.AggregationType.test_result}}</td>
    <td>
	  <a href="{{url_for('aggregationtypes_edit', aggregationtype_id=aggregationtype.AggregationType.id)}}"><i class="icon-pencil"></i></a>
	</td>
    </tr>
	{% endfor %}
    </tbody>
    </table>
{% endblock %}
