{% set active_page='index'%}{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron masthead">
        <div class="container">
        <h1><span class="black">Publish</span></h1>
        <p class="lead">Organisations have begun publishing more data about their aid activities. </p>
        <p class="lead">Learn more about the quality of their publication.</p>
        </div>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                  <div class="alert alert-{{category}} flashmessage">
                    <p>{{message}}</p>
                    </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    <div><p>Publish What You Fund has developed two new tools to assess the quality of organisations' publication: </p>
        <p>1) A Data Quality tool has been developed to assess the quality of aid information published in IATI-XML format. It is designed to run a series of automated checks and tests on data published in IATI-XML format and present findings in a way that provides both a comparative view across all organisations and granular level details on each organisation’s data and any gaps.</p>
        <p>2) A survey tool has been developed to assess aid information published by organisations in formats other than IATI XML, based on data collected manually for the annual Aid Transparency Index.
        <p>More information on both tools can be found by clicking on the 'About’ tab above. Data from individual organisations can be accessed from the 'organisations' link below.</p></div>
    <div class="row">
            <div class="span6">
                <h1>Organisations</h1>
                <p class="lead">See data from individual organisations</p>
                <p>
                <a class="btn btn-primary" href="{{url_for('organisations')}}">Organisations »</a>
                </p>
            </div>
            <div class="span6">
                <h1>Data verification</h1>
                <p class="lead">Donors and CSO partners can log in to confirm their data is correct.</p>
                <form class="form-inline" action="{{url_for('login')}}" method="post">
                <input name="username" type="text" class="input-small" placeholder="Username">
                <input name="password" type="password" class="input-small" placeholder="Password">
                <button type="submit" class="btn">Sign in</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
