{% set active_page='import_tests'%}{% extends "layout.html" %}
{% block title %}Import tests{% endblock %}
{% block content %}
    <form action="" method="post">
    <fieldset>
        <legend>Import tests</legend>
        <p>
		  <label for="url">URL:</label>
		  <input type="text" 
				 value="http://raw.github.com/pwyf/IATI-Data-Quality/master/tests/activity_tests.csv" name="url" />
		</p>

        <p><label for="level">Level:</label>
            <select name="level">
                <option value="2">File</option>
                <option value="1" selected>Activity</option>
                <option value="0">Transaction</option>
            </select>
        </p>

        <p>
		  <label for="password">Password:</label>
		  <input type="passowrd" value="" name="password" />
		</p>
        <p>
		  <input type="submit" value="Import tests" 
				 class="btn" name="remote" />
		</p>
    </fieldset>
    </form>
{% endblock %}
