{% set active_page='import_conditions'%}{% extends "layout.html" %}
{% block title %}Import organisation conditions{% endblock %}
{% block content %}
    
    <form action="{{url_for('import_organisation_conditions', step=3)}}" 
		  method="post">

    {% if results %}
    <table class="table">
    <thead>
        <th>Import?</th>
		<th>Organisation</th>
		<th>Test</th>
		<th>Operation</th>
		<th>Condition</th>
		<th>Condition value</th>
		<th>Description</th>
    </thead>
    <tbody>
        {% for result in results %}
            {% set num = (loop.index) %}
            {% for test in result.tests %}
            <tr>
            <td><input type="checkbox" name="include" 
					   value="{{num}}{{loop.index}}" checked /></td>
			
            <td><input type="hidden" 
					   name="pc[{{num}}{{loop.index}}][organisation_id]" 
					   value="{{result.organisation.id}}"/>
			  <a href="{{url_for('organisations', 
					   organisation_code=result.organisation.organisation_code)}}">
				{{result.organisation.organisation_name}}</a>
			</td>

            <td><input type="hidden" name="pc[{{num}}{{loop.index}}][test_id]" 
					   value="{{test.id}}"/>
			  <a href="{{url_for('tests', id=test.id)}}">{{test.name}}</a>
			</td>

            <td><input type="hidden" 
					   name="pc[{{num}}{{loop.index}}][operation]" 
					   value="{{result.operation}}"/>
			  {{result.operation}}
			</td>

            <td><input type="hidden" 
					   name="pc[{{num}}{{loop.index}}][condition]" 
					   value="{{result.condition}}"/>
			  {{result.condition}}
			</td>

            <td><input type="hidden" 
					   name="pc[{{num}}{{loop.index}}][condition_value]" 
					   value="{{result.condition_value}}"/>
			  {{result.condition_value}}
			</td>

            <td><input type="hidden" 
					   name="pc[{{num}}{{loop.index}}][description]" 
					   value="{{result.description}}"/>
			  {{result.description}}
			</td>
			</tr>
            {% endfor %}
        {% endfor %}
    <tr>
        <td colspan="7">
		  <input type="submit" value="Add conditions"
				 class="btn btn-success" />
		</td>
    </tr>
    </tbody>
    </table>
    {% endif %}
    </form>
{% endblock %}

