{% set active_page='indicators'%}{% extends "layout.html" %}
{% block title %}Indicators{% endblock %}
{% block content %}
<style>
code {
    white-space: normal;
}
</style>

<h1>{{indicatorgroup.description}}</h1>
<h3>Indicators</h3>

<table class="table x-template" id="tests">
<thead>
<th width="10%">No</th>
<th>Category</th>
<th colspan="2" width="90%">
  Description
</th>
</thead>
<tbody>
  {% for i in indicator %}
    <tr id="indicator-{{ i.id }}">
        <td>{{i.indicator_order}}</td>
        <td>{{i.indicator_subcategory_name}}</td>
        <td>{{i.description}}</td>

        <td><a href="#" class="showTests"
               id="showindicator-{{ i.id }}">
            <i class="glyphicon glyphicon-chevron-down align-right"></i></a>
        </td>
    </tr>
    <tr class="group-{{ i.id }} hidden">
        <td></td>
        <td colspan="2">{{ i.longdescription|replace('\n', '<br>')|safe }}</td>
    </tr>
        {% for test in i.test %}
        <tr id="tr{{ test.test_id }}" class="group-{{ i.id }} hidden">
            <td></td>
            <td><i>{{ test.description }}</i></td>
            <td><code>{{ test.name }}</code></td>
        </tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>
{% endblock %}

{% block final_scripts %}
    <script src="{{url_for('static',
				 filename='js/organisationPublication.js')}}"></script>
    <script src="{{url_for('static', filename='js/deletePrompt.js')}}"></script>
{% endblock %}
