{% set active_page='indicators'%}{% extends "layout.html" %}
{% block title %}
  {% if indicator %}
    Edit
  {% else %}
    New
  {% endif %} 
  Indicator {{indicator.name}} &raquo; Indicators
{% endblock %}
{% block content %}
	<h1>Indicator {{indicator.name}}</h1>
    <form name="indicatorupdate" method="post" action="">
    <table class="table">
    <thead>
    <th>Item</th><th>Value</th>
    </thead>
    <tbody>
    <tr>
	<td>Name:</td>
	<td><input type="text" name="name" value="{{ indicator.name }}"/></td>
    </tr>
    <tr>
    <td>Description:</td>
	<td>
	  <input type="text" name="description" 
			 value="{{indicator.description}}"/>
	</td>
    </tr>
    <tr>
    <td>Parent indicator group:</td>
        <td><select name="indicatorgroup_id">
            {% for indicatorgroup in indicatorgroups %}
            <option value="{{indicatorgroup.id}}" 
					{% if indicator.indicatorgroupid==indicatorgroup.id %}
					selected 
					{% endif %}
					>{{indicatorgroup.name}}
			</option>
            {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>Long description:</td>
		<td>
		  <textarea name="longdescription">
			{{indicator.longdescription}}
		  </textarea>
		</td>
    </tr>
    <tr>
        <td>Indicator type:</td>
		<td><input type="text" name="indicator_type" 
				   value="{{indicator.indicator_type}}" />
		</td>
    </tr>
    <tr>
        <td>Indicator category:</td>
		<td><input type="text" name="indicator_category_name" 
				   value="{{indicator.indicator_category_name}}" />
		</td>
    </tr>
    <tr>
        <td>Indicator subcategory:</td>
		<td><input type="text" name="indicator_subcategory_name"
				   value="{{indicator.indicator_subcategory_name}}" />
		</td>
    </tr>
    <tr>
        <td>Ordinal:</td>
		<td><input type="checkbox" name="indicator_ordinal" value="1" 
				   {% if indicator.indicator_ordinal %}checked{% endif %} />
		</td>
    </tr>    
    <tr>
        <td>Ignore format:</td>
		<td><input type="checkbox" name="indicator_noformat" value="1" 
				   {% if indicator.indicator_noformat %}checked{% endif %} />
		</td>
    </tr>    
    <tr>
        <td>Order:</td>
		<td><input type="text" name="indicator_order" 
				   value="{{indicator.indicator_order}}" />
		</td>
    </tr>
    <tr>
        <td>Weight:</td>
		<td><input type="text" name="indicator_weight" 
				   value="{{indicator.indicator_weight}}" />
		</td>
    </tr>
    <tr>
    <td colspan="2"><input type="submit" value="Update" class="btn"/></td>
    </tr>
    </tbody>
    </table>
    </form>

{% endblock %}
