{% set active_page='indicators'%}{% extends "layout.html" %}
{% block title %}Indicators{% endblock %}
{% block content %}
    <script src="{{url_for('static', 
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script src="{{url_for('static', 
				 filename='js/deletePrompt.js')}}"></script>
    <script >
    $(function() {
    $("table#tests").tablesorter({ sortList: [[0,0]] });
    });
    </script>

	<h1>Indicator {{indicator.description}} </h1>

    <div class="pull-right">
      <p>
		<a class="btn btn-success" href="#addTests"
		   role="button" data-toggle="modal">
		  <i class="icon-white icon-plus"></i> 
		  <b>Add Test to Indicator</b>
		</a>
	  </p>
    </div>
	

	<!-- foreach org -->
	<!--   do thing  -->

	<ul>
	{% for organisation in organisations %}
	<li>{{ organisation.organisation_name }}</li>
	{% endfor %}
	</ul>

{% endblock %}
