{% set active_page='indicators'%}{% extends "layout.html" %}
{% block title %}Indicators{% endblock %}
{% block content %}
    <script src="{{url_for('static', 
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script src="{{url_for('static', 
				 filename='js/deletePrompt.js')}}"></script>
    <script >
    $(function() {
    $("table#tests").tablesorter({ sortList: [[0,0]] });
    });
    </script>
	<h1>Indicator Groups</h1>
    <div class="pull-right">

      <a class="btn btn-success" href="{{url_for('indicators_import')}}">
		<i class="icon-white icon-plus"></i> 
		<b>Import</b>
	  </a> 

	  <a class="btn btn-success" href="{{url_for('indicatorgroups_new')}}">
		<i class="icon-white icon-plus"></i> 
		<b>New</b>
	  </a>

    </div>
    <table class="table" id="tests">
    <thead>
    <th>Name</th><th>Description</th><th></th>
    </thead>
    <tbody>
	{% for indicatorgroup in indicatorgroups %}
    <tr>
	<td>
        <a href="{{url_for('indicators', 
				 indicatorgroup=indicatorgroup.name)}}">
		  {{ indicatorgroup.name }}
		</a>
    </td>
    <td>{{indicatorgroup.description}}</td>
    <td>
        <a href="{{url_for('indicatorgroups_edit', 
				 indicatorgroup=indicatorgroup.name)}}">
		  <i class="icon-pencil"></i>
		</a> 
        <a href="{{url_for('indicatorgroups_delete', 
				 indicatorgroup=indicatorgroup.name)}}" 
		   data-confirm="Are you sure you want to delete indicator group 
						 {{indicatorgroup.name}}? This action will also 
						 delete all indicators associated with this group, 
						 and cannot be undone.">
		  <i class="icon-trash"></i></a>
    </td>
    </tr>
	{% endfor %}
    </tbody>
    </table>
{% endblock %}
