{% set active_page = active_page|default('index') -%}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} &raquo; Publish &raquo; Aid Transparency Tracker</title>
    <link href="{{url_for('static', filename='vendor/bootstrap/5.3.3/css/bootstrap.min.css')}}"
          media="all" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='vendor/bootstrap-icons/1.11.3/bootstrap-icons.min.css')}}"
          media="all" rel="stylesheet" type="text/css" />
    <script src="{{url_for('static', filename='vendor/jquery/3.7.1/jquery.min.js')}}"
            type="text/javascript"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/5.3.3/js/bootstrap.bundle.min.js')}}"
            type="text/javascript"></script>
    <link href="{{url_for('static', filename='style.css')}}"
          media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18679634-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
	    ga.type = 'text/javascript';
	    ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();

    </script>

	{% if json_data %}
	<script type="text/javascript">
	  var json_data = {{ json_data | safe }};
    </script>
	{% endif %}

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom{% if active_page != 'index' %} mb-3{% endif %}">
      <div class="container">
        <a class="navbar-brand" href="/">Aid Transparency Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item{% if active_page == 'index' %} active{% endif %}">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item{% if active_page == 'organisations' %} active{% endif %}">
              <a class="nav-link" href="{{url_for('get_organisations')}}">Organisations</a>
            </li>
            <li class="nav-item{% if active_page == 'indicators' %} active{% endif %}">
              <a class="nav-link" href="{{url_for('indicatorgroups')}}">Indicators</a>
            </li>
            <li class="nav-item{% if active_page == 'about' %} active{% endif %}">
              <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            {% if loggedinuser.username %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                {{loggedinuser.username}}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                {% if admin %}
                <li{% if active_page == "pc" %} class="active"{% endif %}>
                  <a class="dropdown-item" href="{{url_for('organisation_conditions')}}">Organisation conditions</a>
                </li>
                <li{% if active_page == "import_conditions" %} class="active"{% endif %}>
                  <a class="dropdown-item" href="{{url_for('import_organisation_conditions')}}">Import organisation conditions</a>
                </li>
                <li{% if active_page == "indicators" %} class="active"{% endif %}>
                  <a class="dropdown-item" href="{{url_for('indicatorgroups')}}">Indicators</a>
                </li>
                <li{% if active_page == "tests" %} class="active"{% endif %}>
                  <a class="dropdown-item" href="{{url_for('get_tests')}}">Tests</a>
                </li>
                <li{% if active_page == "users" %} class="active"{% endif %}>
                  <a class="dropdown-item" href="{{url_for('get_users')}}">Users</a>
                </li>
                <li{% if active_page == "sampling" %} class="active"{% endif %}>
                  <a class="dropdown-item" href="{{url_for('sampling_summary')}}">Sampling tool</a>
                </li>
                {% endif %}
                <li><a class="dropdown-item" href="{{url_for('logout')}}">Log out</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  {% if active_page != "index" %}
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
              <div class="alert alert-{{category}} flashmessage">
                {{ message }}
              </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  {% endif %}
        {% block content %}
        {% endblock %}
  {% if active_page != "index" %}
  </div>
  {% endif %}
    <script type="text/javascript">
        $('.flashmessage').fadeIn('slow');
        document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(function(el) {
            new bootstrap.Tooltip(el);
        });
    </script>
    <footer class="footer">
    <div class="container">
    <div class="d-flex justify-content-between">
    <div>
        <p>
		  <a href="http://publishwhatyoufund.org">
			<img src="{{url_for('static', filename='img/pwyf_small.png')}}"
				 alt="A project of Publish What You Fund" />
		  </a>
		</p>
        <p>
		  <a href="https://github.com/pwyf/IATI-Data-Quality">
			Source code on Github</a>, released under the
		  <a href="http://www.gnu.org/licenses/agpl-3.0.html">
			AGPL v3.0 License</a>.
		</p>
        <p>
		  <a href="http://aidtransparency.net">
			International Aid Transparency Initiative (IATI)
		  </a>
		</p>
        <p>
		  <a href="https://iatiregistry.org">IATI Registry</a> &ndash;
		  <a href="http://iatistandard.org">IATI Standard</a>
		</p>
        <p>
		  <a href="http://www.publishwhatyoufund.org/privacy/">
			Privacy Policy
		  </a>
		</p>
    </div>
    <div>
        <p>Uses some great open source code:</p>
        <ul>
            <li>
			  <a href="https://getbootstrap.com">
				Bootstrap
			  </a>
			</li>
            <li>
			  <a href="http://okfnlabs.org/recline/">Recline.js</a>,
			  by <a href="http://okfn.org">OKFN</a>
			</li>
        </ul>

        <p>
		  With thanks to
		  <a href="http://mk.ucant.org/">Martin Keegan</a>,
		  <a href="https://twitter.com/bjwebb67">Bee Webb</a>,
		  <br />
		  <a href="https://github.com/caprenter">David Carpenter</a>,
		  and many more.
		</p>
    </div>
    </div><!-- flex row -->
    </div><!-- container -->
    </footer>
	{% if json_data %}
	<script src="{{url_for('static', filename='js/mustache.js')}}"
			type="text/javascript">
	</script>
	<script type="text/javascript">
	  var template = $("#template-source").html();
	  var rendered = Mustache.render(template, json_data);
	  $("#template-target").html(rendered);
	</script>
	{% endif %}

	{% block final_scripts %}
	{% endblock %}

</body>
</html>
