{% set active_page='login' %}{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <p class="lead">Please log in to access this area.</p>
    <div class="row">
        <div class="span6">
		  <form method="POST" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" name="username" id="username"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" name="password" id="password"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Log in" class="btn"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
