{% set active_page='login' %}{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <p class="lead">Please log in to access this area.</p>
    <div class="row">
        <div class="span6">
		  <form method="POST">
                Username: <input type="text" name="username"/><br/>
                Password: <input type="password" name="password"/><br/>
                <input type="submit" value="Log in"/>
            </form>
        </div>
    </div>

{% endblock %}
