{% set active_page='pc'%}{% extends "layout.html" %}
{% block title %}Organisation Conditions{% endblock %}
{% block content %}
    <script src="{{url_for('static', 
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script src="{{url_for('static', 
				 filename='js/deletePrompt.js')}}"></script>

    <script >
    $(function() {
    $("table#pcs").tablesorter({ sortList: [[0,0]] });
    });
    </script>

    {% if feedbackconditions %}
    <h1>New Organisation Condition Feedback</h1>

    <p>The following organisation conditions have not yet been imported.</p>

    <form action="{{url_for('import_feedback')}}" method="post">

    <textarea rows="5" class="input-xxlarge" 
			  name="feedbacktext">{{feedbackconditions}}</textarea>

    <br />
	<button type="submit" class="btn btn-success">
	  <i class="icon icon-share-alt icon-white"></i> 
	  <b>Import feedback</b>
	</button>

    <a class="btn btn-danger" 
	   data-confirm="Are you sure you want to clear all remaining
	   publisher feedback? This will not remove any feedback that has
	   already been imported. This action cannot be undone."
	   href="{{url_for('organisationfeedback_clear')}}">
	  <i class="icon icon-trash icon-white"></i> 
	  <b>Clear feedback</b>
	</a>
    </form>
    {% endif %}

    <h1>Select a condition</h1>

    <div class="pull-right">
      <a href="{{url_for('organisation_conditions_new')}}" 
		 class="btn btn-success"><i class="icon-plus icon-white"></i> New</a>
      <a href="{{url_for('import_organisation_conditions')}}" 
		 class="btn">Import data</a>
      <a href="{{url_for('export_organisation_conditions')}}" 
		 class="btn">Export data</a>
    </div>

    <table class="table" id="pcs">
    <thead>
      <th>ID</th>
      <th>Description</th>
      <th>Org</th>
      <th>Test</th>
      <th></th>
    </thead>

    <tbody>
    {% for pc in pcs %}
    <tr>
	  <td>
		<a href="{{url_for('organisation_conditions', id=pc.id)}}">
		  {{ pc.id }}
		</a>
	  </td>
	  <td>{{pc.description}}</td>
	  <td>
		<a href="{{url_for('organisations', 
				 organisation_code=pc.organisation_code)}}">
		  {{pc.organisation_name}}</a>
	  </td>
	  <td>
		<a href="{{url_for('tests', id=pc.test_id)}}">
		  {{pc.test_description}}
	    </a>
	  </td>
      <td>
		<a data-confirm="Are you sure you want to delete this organisation 
						 condition? This action cannot be undone." 
		   href="{{url_for('organisation_condition_delete', id=pc.id)}}">
		  <i class="icon icon-trash"></i>
		</a>
      </td>
    </tr>
	{% endfor %}
    </tr>
    </tbody>
    </table>
{% endblock %}
