{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}{{organisation.organisation_name}} &raquo; Organisations{% endblock %}
{% block content %}
    <div class="jumbotron">
    <h1>{{organisation.organisation_name}}</h1>
    <p class="lead">An initial assessment of your aid transparency is available below.</p>
    </div>
    
    <div class="row">
        <div class="span6 commitment">
            <h1>Commitment</h1>
            <p class="foundschedule muted"><i class="icon icon-refresh"></i> Checking for implementation schedule...</p>
            <p class="approach"></p>
            <p class="elements"></p>
            <p class="review"></p>
        </div>
        <div class="span6 publication">
            <h1>Publication</h1>
            {% if summary_data[0]>0 %}
            <p><i class="icon icon-ok"></i> IATI data found</p>
            <p><i class="icon icon-info-sign"></i> Average score: {{summary_data[0]|int}}% (for {{summary_data[1]}} indicators)</p>
            <p><i class="icon icon-refresh"></i> Publishing frequency: <span id="publisher_frequency" class="muted">checking frequency...</span></p>
            <p><i class="icon {% if coverage.pct > 50 %}icon-ok{% else %}icon-remove{%endif%}"></i> Coverage: <span id="publisher_coverage">{{coverage.pct}}%<!-- ({{coverage.found}} out of {{coverage.total}})--></span></p>
            <p>
            <a class="btn btn-success" href="{{url_for('organisation_publication', organisation_code=organisation.organisation_code)}}">Review Publication »</a> <a class="btn btn-mini" href="{{url_for('organisation_publication_csv', organisation_code=organisation.organisation_code)}}"><i class="icon-download"></i> Data (CSV)</a>
            {% else %}
            <p><i class="icon icon-remove"></i> No IATI data found</p>
            <a class="btn btn-warning" href="http://aidtransparency.net">Publish your IATI data »</a>
            {% endif %}
            </p>
        </div>
    </div>    
    <hr />
    <div class="row">
        <div class="span6">
        <h3>Timeline</h3>
        <table class="table">
        <tbody>
        <tr class="success">
            <td><b>May 1st</b></td><td>Data collection begins</td><td><i class="icon-arrow-left"></i></td>
        </tr>
        <tr>
            <td><b>May (3rd week onwards)</b></td><td>Surveys sent to donors for review</td><td></td>
        </tr>
        <tr>
            <td><b>June 30th</b></td><td>Surveys finalised</td><td></td>
        </tr>
        <tr>
            <td><b>July 31st</b></td><td>Final check of IATI data</td><td></td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="span6">
            <h3>Why include IATI data?</h3>
            <p class="lead">IATI is the only international standard for publishing comparable, timely and easily re-usable data, which are critical components of aid transparency.</p>
        </div>
    </div>
    <script type="text/javascript">
        var success = false;
        jQuery().ready(function() { 

            {% if packagegroups %}
            {% set packagegroup = packagegroups[0].PackageGroup.name %}
            {% else %}
            {% set packagegroup = "" %}
            {% endif %}
            var packagegroup_name="{{packagegroup}}";
            var url_publisher_summary = "https://views.scraperwiki.com/run/iati_registry_frequency_views/?packagegroup_name="

            jQuery.getJSON(url_publisher_summary + packagegroup_name + "&callback=?", null, function(data) {
                if (jQuery.inArray("timeliness", data)) {
                    var updates = data['timeliness'];
                    if (updates === undefined) {
                        updates = "unknown";
                    } else {
                        updates = updates;
                    }
                    var title_data = updates;
                } else {
                    title_data = "unknown";
                }
                jQuery("#publisher_frequency").html(title_data).removeClass('muted');
            });

            var url = "http://tracker.publishwhatyoufund.org"; 
            jQuery.getJSON(url+"/api/organisations/{{organisation.organisation_code}}" + "?callback=?", null, function(org) { 
                success = true;
                var approach = org['scores']['approach'];
                if (approach==100){
                    var approach_text = '<i class="icon icon-ok"></i> Open license and at least quarterly publication';
                } else if (approach==50) {
                    var approach_text = '<i class="icon icon-minus"></i> Only one of open license or quarterly publication';
                } else if (approach==0) {
                    var approach_text = '<i class="icon icon-remove"></i> Neither open license nor quarterly publication';
                }
                var elements = org['scores']['elements'];
                if (elements>=60){
                    var elements_text = '<i class="icon icon-ok"></i> '+elements+'% of fields';
                } else if (elements>=40) {
                    var elements_text = '<i class="icon icon-minus"></i> '+elements+'% of fields';
                } else if (elements>=0) {
                    var elements_text = '<i class="icon icon-remove"></i> '+elements+'% of fields';
                }
                jQuery(".commitment .foundschedule").html('<i class="icon icon-ok"></i> Implementation schedule found').removeClass('muted');
                jQuery(".commitment .approach").html(approach_text);
                jQuery(".commitment .elements").html(elements_text);
                jQuery(".commitment .review").html('<a class="btn btn-success" href="http://tracker.publishwhatyoufund.org/organisations/{{organisation.organisation_code}}">Review Commitment »</a>');
            });
        });

        setTimeout(function() {
            if (!success)
            {
                // Handle error
                jQuery(".commitment .foundschedule").html('<i class="icon icon-remove"></i> No implementation schedule found');
                jQuery(".commitment .approach").html('');
                jQuery(".commitment .elements").html('');
                jQuery(".commitment .review").html('<a class="btn btn-warning" href="http://tracker.publishwhatyoufund.org/about/">Create an Implementation schedule »</a>');
            }
        }, 5000);

    </script>
{% endblock %}
