{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}
{{organisation.organisation_name}} &raquo; Organisations
{% endblock %}
{% block content %}

<div id="template-target">
</div>

{% raw %}
<script type="text/template" id="template-source">
    <div class="pull-right">
        <a class="btn btn-success" href="{{ links.login }}">
		  <i class="icon-lock icon-white"></i> 
		  <b>Login &raquo; {{ organisation.organisation_name }}</b>
		</a>
    </div>

    <h1>
	  <a href="{{ links.orgpage }}">
		{{organisation.organisation_name}}</a>
	</h1>

    <h3>2014 Aid Transparency Index data </h3>
    <div class="">
        <div class="row">
            <div class="span12">
                <h2>Tracking aid transparency improvements over time.</h2>
                <p class="lead">This page shows the information
                collected for {{organisation.organisation_name}} for
                the 2014 Aid Transparency Index and tracks changes to
                the information found over the course of the Index
                data collection period.</p>
            </div>
        </div>
    </div>


    <a id="commitment"></a>
    <hr />
    <fieldset>
      <h3>Commitment</h3>
      <table class="table" id="results_commitment">
        <thead>
          <th width="50%">Indicator</th>
          <th width="25%">2013</th>
          <th width="25%">2014</th>
        </thead>
        <tbody>
		  {{#result.commitment}}
            <tr id="indicator-{{indicator.id}}">

              <td>
				<a href="#indicator{{indicator.id}}" 
				   role="button" data-toggle="modal">
				  {{indicator.indicator_order}}. 
				  {{indicator.description}}
				</a>
                <div id="indicator{{indicator.id}}" 
					 class="modal hide fade" tabindex="-1" role="dialog" 
					 aria-labelledby="indicatorHeader" aria-hidden="true">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
                    <h3 id="indicatorHeader">
					  Indicator: {{indicator.description}}
					</h3>
                  </div>
                  <div class="modal-body">
                    {{indicator.longdescription}}
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" 
							aria-hidden="true">Close</button>
                  </div>
                </div>
              </td>

              <td>
				{{lastyearsdata.survey_ordinal_value}}% 
				<a href="#" class="showTests" 
				   id="showindicator-{{indicator.id}}">
				  <i class="icon-chevron-down align-right"></i></a>
			  </td>

              <td>
				<span class="label label-default">No survey data 
				  yet.</span>
			  </td>

            </tr>

            <tr id="tr-{{indicator.id}}-details" 
				class="group-{{indicator.id}} hidden">

              <td colspan="3">
                <h5>Evidence</h5>
			    <p>{{lastyearsdata.survey_source}}</p>
                <h5>Comments</h5>
			    <p>{{lastyearsdata.survey_comment}}</p>
              </td>
            </tr>
			{{/result.commitment}}
        </tbody>
      </table>
    </fieldset>
	

    <a id="publication_organisation"></a>
    <hr />
    <fieldset>
      <h3>Publication &ndash; Organisation</h3>
      <table class="table" id="results_publication">
        <thead>
          <th width="20%">Subgroup</th>
          <th width="30%">Indicator</th>
          <th width="25%">2013</th>
          <th width="25%">2014</th>
        </thead>
        <tbody>
		  {{#result.publication_organisation}}
          <tr id="indicator-{{indicator.id}}">
            <td>{{indicator.indicator_subcategory_name}}</td>
            <td>
			  <a href="#indicator{{indicator.id}}" 
				 role="button" data-toggle="modal">
                {{indicator.indicator_order}}. 
				{{indicator.description}}
			  </a>

              <div id="indicator{{indicator.id}}" 
				   class="modal hide fade" tabindex="-1" role="dialog" 
				   aria-labelledby="indicatorHeader" aria-hidden="true">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" 
						  aria-hidden="true">×</button>
				  <h3 id="indicatorHeader">
					Indicator: {{indicator.description}}
				  </h3>
                </div>

                <div class="modal-body">
                  {{indicator.longdescription}}
                </div>

                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal" 
						  aria-hidden="true">Close</button>
                </div>
              </div>
            </td>

            <td>
			  <span class="label label-{{lastyearsdata_format}}">{{lastyearsdata_title}}</span>
                    {{^lastyearsdata_iati}}
                    <a href="#" class="showTests" 
					   id="showindicator-{{indicator.id}}"><!-- FIXME: this line could be wrong -->
					  <i class="icon-chevron-down align-right"></i>
					</a>
                    {{/lastyearsdata_iati}}
            </td>

	        <td>
			{{#uses_iati}}
			  <span class="label label-success">IATI</span>
			{{/uses_iati}}
			{{^uses_iati}}
			  <span class="label label-default">No survey data yet.</span>
			{{/uses_iati}}
			</td>
          </tr>
            {{#lastyearsdata_manual}}

            <tr id="tr-{{indicator.id}}-details" 
				class="group-{{indicator.id}} hidden">
              <td colspan="4">
				<h5>Evidence</h5>
				<p>
				  {{lastyearsdata.survey_source}}
				</p>
				<h5>Comments</h5>
				<p>
				  {{lastyearsdata.survey_comment}}
				</p>
              </td>
            </tr>
			{{/lastyearsdata_manual}}
			{{/result.publication_organisation}}
        </tbody>
        </table>
        </fieldset>

    <a id="publication_activity"></a>
    <hr />
        <fieldset>
        <h3>Publication &ndash; Activity</h3>
        <table class="table" id="results_publication">
        <thead>
        <th width="20%">Subgroup</th>
        <th width="30%">Indicator</th>
        <th width="25%">2013</th>
        <th width="25%">2014</th>
        </thead>
        <tbody>
		{{#result.publication_activity}}

          <tr id="indicator-{{indicator.id}}">

            <td>{{indicator.indicator_subcategory_name}}</td>

            <td>
			  <a href="#indicator{{indicator.id}}" 
				 role="button" data-toggle="modal">
                {{indicator.indicator_order}}. 
				{{indicator.description}}
			  </a>
              
			  <div id="indicator{{indicator.id}}" 
				   class="modal hide fade" tabindex="-1" role="dialog" 
				   aria-labelledby="indicatorHeader" aria-hidden="true">

                    <div class="modal-header">
                        <button type="button" class="close" 
								data-dismiss="modal" 
								aria-hidden="true">×</button>
                        <h3 id="indicatorHeader">
						  Indicator: {{indicator.description}}
						</h3>
                    </div>
                    <div class="modal-body">
                      {{result.indicator.longdescription}}
                    </div>
                    <div class="modal-footer">
                      <button class="btn" data-dismiss="modal" 
							  aria-hidden="true">Close</button>
                    </div>
              </div>
            </td>

            <td>
			  <span class="label label-{{lastyearsdata_format}}">{{lastyearsdata_title}}</span>
			    {{^lastyearsdata_iati}}
                <a href="#" class="showTests" 
				   id="showindicator-{{indicator.id}}"><!-- FIXME: this line could be wrong -->
				  <i class="icon-chevron-down align-right"></i>
				</a>
				{{/lastyearsdata_iati}}
            </td>

	        <td>
			{{#uses_iati}}
			  <span class="label label-success">IATI</span>
			{{/uses_iati}}
			{{^uses_iati}}
			  <span class="label label-default">No survey data yet.</span>
			{{/uses_iati}}
			</td>

          </tr>
		    {{#lastyearsdata_manual}}

          <tr id="tr-{{indicator.id}}-details" 
			  class="group-{{indicator.id}} hidden">
            <td colspan="4">
              <h5>Evidence</h5>
              <p>
				{{lastyearsdata.survey_source}}
			  </p>
              <h5>Comments</h5>
              <p>
				{{lastyearsdata.survey_comment}}
			  </p>
            </td>

          </tr>
			{{/lastyearsdata_manual}}

		{{/result.publication_activity}}
        </tbody>
        </table>
        </fieldset>

</script>
{% endraw %}
{% endblock %}

{% block final_scripts %}
    <script src="{{url_for('static', filename='js/organisationPublication.js')}}"></script>

{% endblock %}
