{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}
  Publication structure &raquo; 
  {{organisation.organisation_name}} &raquo; Organisations
{% endblock %}
{% block content %}

	<h1>Organisation: <a href="{{url_for('organisations', organisation_code=organisation.organisation_code)}}">{{organisation.organisation_name}}</a> <code>{{organisation.organisation_code}}</code></h1>
    <h3>Tell us how you structure your data</h3>
    <p >IATI allows organisations to structure their data according to their own business model. We know that different organisations have used this feature to place different information in different places - for example, project documents only at "program" level (<code>hierarchy 1</code>) and transactions only at "project" level (<code>hierarchy 2</code>).</p>
    <p>Specifying that information is not used at a certain level will be accepted and will not count against an organisation's score, as long as that information is provided elsewhere. For example, if transactions are not provided at "program" level (<code>hierarchy 1</code>), they must be provided at "project" level (<code>hierarchy 2</code>).</p>
    <p><a class="btn btn-success" href="#addFeedback" role="button" data-toggle="modal"><i class="icon-white icon-plus"></i> <b>Add conditions</b></a></p>
    <form name="organisationfeedback" method="post" action="">
    <table class="table" id="conditions">
    <thead>
    <th>Conditions</th><th></th>
    </thead>
    <tbody>
    </tbody>
    </table>
    <input type="submit" value="Submit structure" class="btn" name="submitstructure"/>
    </form>

    <div id="addFeedback" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addFeedbackModalLabel" aria-hidden="true"> 
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <form method="post" action="">
            <h3 id="addFeedbackModalLabel">Add conditions for {{organisation.organisation_code}}</h3>
        </div>
        <div class="modal-body">
            <p>Add qualifications of where you don't use different elements.</p>
            <table class="table">
            <tbody>
            <tr>
            <td>{{organisation.organisation_code}}</td>
            <td><input type="hidden" id="uses" value="does not use" />does not use</td>
            </tr>
            <tr>
            <td class="muted"><i>element</i></td>
            <td><select id="element">
                <option value="title">title</option>
                <option value="description">description</option>
                <option value="sector">sector</option>
                <option value="default-tied-status">default-tied-status</option>
                <option value="planned-disbursement">planned-disbursement</option>
                <option value="recipient-country">recipient-country</option>
                <option value="recipient-region">recipient-region</option>
                <option value="policy-marker">policy-marker</option>
                <option value="contact-info">contact-info</option>
                <option value="collaboration-type">collaboration-type</option>
                <option value="participating-org">participating-org</option>
                <option value="activity-status">activity-status</option>
                <option value="result">result</option>
                <option value="default-finance-type">default-finance-type</option>
                <option value="default-aid-type">default-aid-type</option>
                <option value="default-flow-type">default-flow-type</option>
                <option value="transaction">transaction</option>
                <option value="budget">budget</option>
                <option value="conditions">conditions</option>
                <option value="location">location</option>
                <option value="document-link">document-link</option>
                <option value="capital-spend">capital-spend</option>
                <option value="country-budget">country-budget</option>
            </select></td>
            </tr>
            <tr>
            <td class="muted"><i>at hierarchy</i></td>
            <td> <select id="where">
                <option value="activity hierarchy 1">activity hierarchy 1</option>
                <option value="activity hierarchy 2">activity hierarchy 2</option>
                <option value="activity hierarchy 3">activity hierarchy 3</option>
            </select>
            </td>
            </tr>
            </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a id="addfeedbackbtn" class="btn btn-success">Add structure</a>
        </div>
    </form>
    </div>
    <script>
    var organisation_code = "{{organisation.organisation_code}}";
    </script>
    <script src="{{url_for('static', filename='js/organisationFeedback.js')}}"></script>
{% endblock %}
