{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}
  {% if organisation%}
    Edit
  {% else %}
    New
  {% endif %} 
  Organisation {{organisation.organisation_name}} &raquo; 
  Organisations
{% endblock %}
{% block content %}
    <script src="{{url_for('static', 
				 filename='js/deletePrompt.js')}}"></script>

    <script src="{{url_for('static', 
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#organisationpackage").tablesorter({ sortList: [[0,0]] });
    });
    </script>

    <ul class="breadcrumb">
      <li>
		<a href="{{url_for('organisations')}}">Organisations</a> 
		<span class="divider">/</span></li>
      <li>
		<a href="{{url_for('organisations', 
				   organisation_code=organisation.organisation_code)}}">
		  {{organisation.organisation_name}}</a> 
		<span class="divider">/</span>
	  </li>
      <li class="active">Manage</li>
    </ul>

    <h1>Organisation {{organisation.organisation_name}}</h1>

    <div class="pull-right">
      <p>
		<a class="btn btn-success" href="#addPackages" role="button" 
		   data-toggle="modal">
		  <i class="icon-white icon-plus"></i> 
		  <b>Add Package to Organisation</b>
	    </a>
	  </p>

      <p>
		<a class="btn btn-success" href="#addPackageGroup" role="button" 
		   data-toggle="modal">
		  <i class="icon-white icon-plus"></i> 
		  <b>Add Package Group to Organisation</b>
	    </a>
	  </p>
    </div>

    <div class="clearer">&nbsp;</div>
    <form name="organisationupdate" method="post" action="">
    <table class="table">
    <thead>
    <th>Item</th><th>Value</th>
    </thead>
    <tbody>
    <tr>
	  <td>Organisation name:</td>
	  <td><input type="text" name="organisation_name" 
				 value="{{ organisation.organisation_name }}"/></td>
    </tr>
    <tr>
      <td>Organisation code:</td>
	  <td><input type="text" name="organisation_code" 
			   value="{{organisation.organisation_code}}"/></td>
    </tr>
    <tr>
        <td>Organisation responded:</td>
        <td>
            <select name="organisation_responded">
            {% for dr in donorresponses.items() %}
            <option value="{{dr[0]}}" 
					{% if dr[1].id == organisation.organisation_responded %}
					selected
					{% endif %}>
			  {{dr[1].text|title}}
			</option>
            {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>No independent reviewer:</td>
        <td><input type="checkbox" name="no_independent_reviewer"
				   value="1" 
				   {% if organisation.no_independent_reviewer %}
				   checked
				   {% endif %}/>
		</td>
    </tr>
    <tr>
    <td colspan="2">
	  <input type="submit" value="Update" class="btn" 
			 name="updateorganisation"/>
	</td>
    </tr>
    </tbody>
    </table>
    </form>

    <div id="addPackages" class="modal hide fade" tabindex="-1" 
		 role="dialog" aria-labelledby="addPackagesModalLabel" 
		 aria-hidden="true"> 

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
					aria-hidden="true">×</button>
            <form method="post" action="">
            <h3 id="addPackagesModalLabel">Add Packages</h3>
        </div>

        <div class="modal-body">
        {% for package in packages %}
            <label for="package_{{package.id}}">
			  <input type="checkbox" value="{{package.id}}" 
					 id="package_{{package.id}}" name="package" /> 
			  {{package.package_name}}
			</label>
        {% endfor %}

        </div>
        <div class="modal-footer">
            Condition (optional, must be unicode): 
			<input type="text" name="condition" /><br />
            <button class="btn" data-dismiss="modal" 
					aria-hidden="true">Close</button>
            <input type="submit" 
				   value="Add packages to this organisation" 
				   name="addpackages" class="btn btn-success" />
        </div>
    </form>
    </div>

    <div id="addPackageGroup" class="modal hide fade" tabindex="-1" 
		 role="dialog" aria-labelledby="addPackageGroupModalLabel" 
		 aria-hidden="true"> 

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" 
					aria-hidden="true">×</button>

            <form method="post" action="">
              <h3 id="addPackageGroupModalLabel">
				Add packages based on package group
			  </h3>
        </div>
        <div class="modal-body">
        <table class="table">

          <p>The IATI Registry generally groups packages into "Package
          Groups". You can add all packages in a single Package Group
          below, and optionally, apply to any new packages found on
          the IATI Registry.</p>

        <tbody>
        <tr>
            <td>Package Group:</td>
            <td>
            <select name="packagegroup">
            <option value="" selected></option>
            {% for packagegroup in packagegroups %}
                <option value="{{packagegroup.id}}"> 
				  {{packagegroup.name}}</option>
            {%endfor%}
            </select>
            </td>
        </tr>
        <tr>
            <td>Condition (optional, must be unicode): </td>
			<td><input type="text" name="condition" /></td>
        </tr>
        <tr>
            <td colspan="2">
			  <label for="applyfuture">
				<input type="checkbox" name="applyfuture" id="applyfuture"/>
				Also apply to new packages in this package group
			  </label>
			</td>
        </tbody>
        </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" 
					aria-hidden="true">Close</button>
            <input type="submit" 
				   value="Add all packages in this package group to this 
						  organisation" name="addpackagegroup" 
				   class="btn btn-success" />
        </div>
    </form>
    </div>

    <h1>Organisation's packages</h1>
    <table class="table" id="organisationpackage">
    <thead>
    <th>Package ID</th><th>Package Name</th><th>Condition</th>
    </thead>
    <tbody>
    {% for pp in organisationpackages %}
    <tr{% if pp.Package.deleted %} class="muted"{% endif %}>
    <td>
	  <a href="{{url_for('packages', 
			   package_name=pp.Package.package_name)}}">
		{{pp.Package.package_name}}</a>
	</td>
    <td>{{pp.Package.package_title}}</td>
    <td>{{pp.OrganisationPackage.condition}}</td>
    <td>
        {% if pp.Package.man_auto=='man' %}
		<a href="{{url_for('packages_edit', 
				 package_name=pp.Package.package_name)}}">
		  <i class="icon-pencil"></i></a>
		{% endif %}
    </td>
    <td>
        <a href="{{url_for('organisationpackage_delete', 
				 organisation_code=organisation.organisation_code, 
				 package_name=pp.Package.package_name, 
				 organisationpackage_id=pp.OrganisationPackage.id)}}" 
		   data-confirm="Are you sure you want to remove 
						 Package {{pp.Package.package_name}} from 
						 {{organisation.organisation_code}}? 
						 This action will not delete the package itself.">
		  <i class="icon-trash"></i></a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
