{% set active_page='pc'%}{% extends "layout.html" %}
{% block title %}
  {% if pc.id %}
    {{pc.id}}
  {% else %}
    New
  {% endif %}
  &raquo; Organisation Conditions
{% endblock %}
{% block content %}
    <form action="" method="post">
    <h1>
	  {% if pc.id %}
	  Edit organisation condition {{pc.id}}
	  {% else %}
	  Create a new organisation condition
	  {% endif %}
	</h1>
    <table class="table">
    <thead>
        <th>Item</th>
        <th>Value</th>
    </thead>
    <tbody>
    <tr>
        <td>Description</td>
        <td><input type="text" value="{{pc.description}}"
				   name="description" /></td>
    </tr>
    <tr>
        <td>Organisation ID</td>
        <td>
        <select name="organisation_id">
        {% for organisation in organisations %}
        <option value="{{organisation.id}}"
				{% if pc.organisation_id == organisation.id %}
				selected
				{% endif %}>{{organisation.organisation_name}}</option>
        {% endfor %}
        </select>
        </td>
    </tr>
    <tr>
        <td>Test ID</td>
        <td>
        <select name="test_id">
        {% for test in tests %}
        <option value="{{test.id}}"
				{% if pc.test_id == test.id %} selected{% endif %}>
      {{test.id}}.
		  {{test.description}}
		</option>
        {%endfor%}
        </select></td>
    </tr>
    <tr>
        <td>Don't show at hierarchy number</td>
        <td>
          <select name="condition_value">
            <option value="1" {% if pc.condition_value == "1" %}selected{%endif%}>1</option>
            <option value="2" {% if pc.condition_value == "2" %}selected{%endif%}>2</option>
            <option value="3" {% if pc.condition_value == "3" %}selected{%endif%}>3</option>
            <option value="4" {% if pc.condition_value == "4" %}selected{%endif%}>4</option>
          </select></td>
    </tr>
    <tr>
    <td colspan="2">
    <input type="hidden" value="0" name="operation"/>
    <input type="hidden" value="activity hierarchy" name="condition" />
    <input type="hidden" value="" name="file" />
    <input type="hidden" value="0" name="line" />
    <input type="hidden" value="1" name="active" />
    <input type="submit" value="Update" class="btn" />
    </td>
    </tr>
    </tbody>
    </table>
    </form>
{% endblock %}
