{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}
{{organisation.organisation_name}} &raquo; Organisations
{% endblock %}
{% block content %}

    {% if (admin or allowed_to_view_survey or show_researcher_button) %}
    <div class="container">
        <div class="pull-right">
            {% if admin %}
            <a class="btn btn-default"
               href="{{url_for('organisation_edit',
                     organisation_code=organisation.organisation_code)}}">
              <i class="glyphicon glyphicon-wrench"></i> Manage organisation</a>
            {% endif %}

            {% if allowed_to_view_survey %}
            <a class="btn btn-default"
               href="{{url_for('organisation_survey',
                     organisation_code=organisation.organisation_code)}}">
              <i class="glyphicon glyphicon-info-sign"></i> View survey</a>
            {% endif %}

            {% if show_researcher_button %}
            <a class="btn btn-default" href="{{url_for('organisation_survey_edit',
                                            organisation_code=organisation.organisation_code,
                                            workflow_name=survey_workflow)}}">
              <i class="glyphicon glyphicon-star"></i> Start survey</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="pwyf-jumbotron">
    <h1>{{organisation.organisation_name}}</h1>
    <p class="lead">An initial assessment of your organisation's aid
    transparency is available below.</p>
    </div>

    <div class="row">
        <div class="col-md-12 publication">
            <h1>Publication</h1>
            {% include "publication_box.html" %}
        </div>
    </div>
    <hr />
    <h2>Timeline</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Accredited organisations</h3>
            <table class="table">
            <tbody>
            <tr>
                <td><strong>16 February 2026</strong></td>
                <td>Data collection begins</td>
            </tr>
            <tr class="success">
                <td><strong>9 March 2026</strong></td>
                <td>Initial assessments shared with organisations</td>
            </tr>
            <tr>
                <td><strong>23 March 2026</strong></td>
                <td>Results of sampling shared with organisations</td>
            </tr>
            <tr>
                <td><strong>3 July 2026</strong></td>
                <td>Final IATI data pull</td>
            </tr>
            <tr class="success">
                <td><strong>24 August 2026</strong></td>
                <td>Final assessments shared with organisations</td>
            </tr>
               </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Non-accredited organisations</h3>
            <table class="table">
            <tbody>
            <tr>
                <td><strong>16 February 2026</strong></td>
                <td>Data collection begins</td>
            </tr>
            <tr class="success">
                <td><strong>9 March 2026</strong></td>
                <td>Manual survey shared with organisations</td>
            </tr>
            <tr>
                <td><strong>3 July 2026</strong></td>
                <td>Final IATI data pull</td>
            </tr>
               </tbody>
            </table>
        </div>
    </div>

{% endblock %}
