{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}Organisations{% endblock %}
{% block content %}
   <script src="{{url_for('static',
				filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#organisations").tablesorter({ sortList: [[0,0]] });
    });

    </script>

    {% if admin %}

    <div class="pull-right">
	  <a class="btn btn-success" href="{{url_for('organisation_new')}}">
		<i class="glyphicon glyphicon-plus"></i>
		<strong> New organisation</strong>
	  </a>
	</div>

    {% endif %}

	<h1>Organisations</h1>

    <p class="lead">

	  The following organisations are included in
	  the {{ ati_year }} UK Aid Review. Each organisation's page contains an
	  initial assessment of the quality of the aid information they
	  publish. Publish What You Fund will work with these
	  organisations and independent reviewers over the course of the
	  data collection period to verify this data.

	</p>
    <table class="table" id="organisations">
    <thead>
    <th>Organisation name</th>
    </thead>
    <tbody>
	{% for organisation in organisations %}
    <tr>
	<td>
	  <a href="{{url_for('get_organisations',
			   organisation_code=organisation.organisation_code)}}">
		{{ organisation.organisation_name }}
	  </a>
	</td>
    </tr>
	{% endfor %}
    </tbody>
    </table>

{% endblock %}
