{% set active_page='pc'%}{% extends "layout.html" %}
{% block title %}{{pc.id}} &raquo; Organisation Conditions{% endblock %}
{% block content %}
   <script src="static/jquery.tablesorter.min.js"></script>

	<h1>Condition {{pc.id}}</h1>
    <table class="table" id="pc">
    <tbody>
    <tr>
	<td>ID</td><td>{{pc.id}}</td>
    </tr>
    <tr>
	<td>Description</td><td>{{pc.description}}</td>
    </tr>
    <tr>
	<td>Organisation</td>
	<td><a href="{{url_for('get_organisations',
				 organisation_code=pc.organisation_code)}}">
		{{pc.organisation_name}}</a>
	</td>
    </tr>
    <tr>
	<td>Test</td>
	<td><a href="{{url_for('get_tests', id=pc.test_id)}}">{{pc.test_name}}</a></td>
    </tr>
    <tr>
	<td>Operation</td>
	<td>{% if pc.operation==0%}Hide{%else%}Display{%endif%}</td>
    </tr>
    <tr>
	<td>Condition</td><td>{{pc.condition}}</td>
    </tr>
    <tr>
	<td>Condition value</td><td>{{pc.condition_value}}</td>
    </tr>
    <tr>
	<td colspan="2">
	  <a class="btn btn-default"
		 href="{{url_for('organisation_conditions_editor', id=pc.id)}}">
		Edit</a>
	</td>
    </tr>
    </tbody>
    </table>

{% endblock %}
