{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}Organisations{% endblock %}
{% block content %}
   <script src="/static/jquery.tablesorter.min.js"></script>
    <script >
    $(function() {
    $("table#organisations").tablesorter({ sortList: [[0,0]] });
    });

    </script>
    <div class="pull-right"><a class="btn btn-success" href="{{url_for('organisation_new')}}"><i class="icon-plus icon-white"></i><b> New organisation</b></a></div>
	<h1>Select an organisation</h1>
    <table class="table" id="organisations">
    <thead>
    <th>Organisation name</th>
    </thead>
    <tbody>
	{% for organisation in organisations %}
    <tr>
	<td><a href="{{url_for('organisations', organisation_code=organisation.organisation_code)}}">{{ organisation.organisation_name }}</a></td>
    </tr>
	{% endfor %}
    </tbody>
    </table>

{% endblock %}
