{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}Organisations &raquo; Coverage{% endblock %}
{% block content %}
   <script src="{{url_for('static', 
				filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#organisations").tablesorter({ sortList: [[0,0]] });
    });

    </script>

    {% if admin %}

    <div class="pull-right">
	  <a class="btn btn-success" href="{{url_for('organisation_new')}}">
		<i class="icon-plus icon-white"></i>
		<strong> New organisation</strong>
	  </a>
	</div>

    {% endif %}

	<h1>Organisations &raquo; Coverage</h1>

    <p class="lead">This table shows the total value of expenditure
    and disbursements under transactions for current activities.</p>

    <div class="alert alert-info">

    <h3>Be careful using this data!</h3>

    <p>There are various reasons why the figures in this table may be
    inaccurate or misleading:</p>

    <ul>

        <li>Some organisations have not published transactions yet,
        and only budgets.</li>

        <li>The total spend figures are based on the most recent data
        available &ndash; e.g. from OECD/DAC (ODA figures), or from
        the organisation's annual report.</li>

        <li>Concessional loans are also counted towards ODA figures,
        but they are not counted in the E&D current column, so for
        organisations that give a significant amount of loans, the
        amounts will be lower than expected.</li>

        <li>The time period used for "current" transactions may miss
        data just before or just after the cut-off windows.</li>

    </ul>

    </div>

    <table class="table" id="organisations">

    <thead>

    <th>Organisation name</th>
	<th>E&D current</th>
	<th>Total spend</th>
	<th>E&D current/total spend</th>
    </thead>

    <tbody>
	{% for organisation in organisations %}

    <tr>
	  <td><a href="{{url_for('organisations', 
				   organisation_code=organisation.organisation_code)}}">
		  {{ organisation.organisation_name }}</a>
	  </td>

      <td>
		{% if coverage_data[organisation.id].found is not none %}
		{{coverage_data[organisation.id].found}}
		{% endif %}
	  </td>

      <td>
		{% if coverage_data[organisation.id].total is not none %}
		{{coverage_data[organisation.id].total}}
		{% endif %}
	  </td>

      <td>
		{% if coverage_data[organisation.id].found is not none %}
		{{coverage_data[organisation.id].pct}}
		{% endif %}
	  </td>
    </tr>

	{% endfor %}
    </tbody>
    </table>

{% endblock %}
