{% set active_page='pc'%}{% extends "layout.html" %}
{% block title %}
  {% if pc.id %}
    {{pc.id}}
  {% else %}
    New
  {% endif %}
  &raquo; Organisation Conditions
{% endblock %}
{% block content %}
    <form action="" method="post">
    <h1>
	  {% if pc.id %}
	  Edit organisation condition {{pc.id}}
	  {% else %}
	  Create a new organisation condition
	  {% endif %}
	</h1>
    <table class="table">
    <thead>
        <th>Item</th>
        <th>Value</th>
    </thead>
    <tbody>
    <tr>
        <td>Description</td>
        <td><input type="text" value="{{pc.description}}" 
				   name="description" /></td>
    </tr>
    <tr>
        <td>Organisation ID</td>
        <td>
        <select name="organisation_id">
        {% for organisation in organisations %}
        <option value="{{organisation.id}}"
				{% if pc.organisation_id == organisation.id %}
				selected
				{% endif %}>{{organisation.organisation_name}}</option>
        {% endfor %}
        </select>
        </td>
    </tr>
    <tr>
        <td>Test ID</td>
        <td>
        <select name="test_id">
        {% for test in tests %}
        <option value="{{test.id}}"
				{% if pc.test_id == test.id %} selected{% endif %}>
		  {{test.description}}
		</option>
        {%endfor%}
        </select></td>
    </tr>
    <tr>
        <td>Operation</td>
        <td>
        <select name="operation">
        <option value="1"{% if pc.operation == 1 %} selected{% endif %}>Show</option>
        <option value="0"{% if pc.operation == 0 %} selected{% endif %}>Don't show</option>
        </select></td>
    </tr>
    <tr>
        <td>Condition</td>
        <td><input type="text" value="{{pc.condition}}" name="condition" /></td>
    </tr>
    <tr>
        <td>Condition value</td>
        <td><input type="text" value="{{pc.condition_value}}" 
				   name="condition_value" /></td>
    </tr>
    <tr>
        <td>File</td>
        <td><input type="text" value="{{pc.file}}" name="file" /></td>
    </tr>
    <tr>
        <td>Line</td>
        <td><input type="text" value="{{pc.line}}" name="line" /></td>
    </tr>
    <tr>
        <td>Active</td>
        <td><input type="checkbox" value="1" name="active"
				   {% if pc.active%} checked{% endif %} /></td>
    </tr>
    <tr>
    <td colspan="2">
    <input type="submit" value="Update" class="btn" />
    </td>
    </tr>
    </tbody>
    </table>
    </form>
{% endblock %}
