{% set active_page='publishers'%}{% extends "layout.html" %}
{% block title %}Publishers{% endblock %}
{% block content %}
   <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#publishers").tablesorter({ sortList: [[0,0]] });
    });

    </script>

	<h1>Select a publisher</h1>
    <table class="table" id="publishers">
    <thead>
    <th>Registry ID</th><th>Name</th><th>Registry URL</th>
    </thead>
    <tbody>
	{% for p in p_groups %}
    <tr>
	<td><a href="{{url_for('publisher', publisher_id=p.name)}}">{{ p.name }}</a></td><td>{{ p.title }}</td><td><a href="http://iatiregistry.org/publisher/{{p.name}}">http://iatiregistry.org/publisher/{{p.name}}</td>
    </tr>
	{% endfor %}
    </tbody>
    </table>

{% endblock %}
