{% set active_page='packages'%}{% extends "layout.html" %}
{% block title %}Packages{% endblock %}
{% block content %}
   <script src="{{url_for('static', 
				filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#packages").tablesorter({ sortList: [[0,0]] });
    });

    </script>

    <a href="{{url_for('packages_manage')}}" 
	   class="btn pull-right">Manage packages</a>

	<h1>Select a package</h1>

    <form action="" method="post">
      <table class="table" id="packages">
		<thead>
		  <th>Registry ID</th><th>Name</th><th></th>
		</thead>
		<tbody>
		  {% for package in packages %}
		  <tr>
			<td>
			  <input type="hidden" name="package" 
					 value="{{package.package_name}}" />
			  <a href="{{url_for('packages', 
					   package_name=package.package_name)}}">
				{{ package.package_name }}</a>
			</td>
			<td>{{ package.package_title }}</td>
			<td>
			  {% if package.man_auto=='man' %}
			  <a href="{{url_for('packages_edit', 
					   package_name=package.package_name)}}">
				<i class="icon-pencil"></i>
			  </a>
			  {% endif %}
			</td>
		  </tr>
		  {% endfor %}
		</tbody>
      </table>
    </form>
{% endblock %}
