{% set active_page='packages'%}{% extends "layout.html" %}
{% block title %}Packages{% endblock %}
{% block content %}
   <script src="/static/jquery.tablesorter.min.js"></script>
    <script >
    $(function() {
    $("table#packages").tablesorter({ sortList: [[0,0]] });
    });

    </script>

    <a href="{{url_for('packages_manage')}}" class="btn pull-right">Manage packages</a>
	<h1>Select a package</h1>
    <form action="" method="post">
    <table class="table" id="packages">
    <thead>
    <th>Registry ID</th><th>Name</th>
    </thead>
    <tbody>
	{% for pk in pkgs %}
    <tr>
	<td><input type="hidden" name="package" value="{{pk.package_name}}" /><a href="{{url_for('packages', package_name=pk.package_name)}}">{{ pk.package_name }}</a></td><td>{{ pk.package_title }}</td>
    </tr>
	{% endfor %}
    </tbody>
    </table>
    </form>
{% endblock %}
