{% set active_page='registry'%}{% extends "layout.html" %}
{% block title %}Manage Packages{% endblock %}
{% block content %}


<script src="{{url_for('static',
			 filename='jquery.tablesorter.min.js')}}"></script>
<script >

    $(function() {
    $("table#packages").tablesorter({ sortList: [[0,0]] });
    });

</script>

<form action="" method="post">
  
  <div class="pull-right">

	<p>
      <input type="submit" name="refresh" class="btn btn-mini" 
			 value="Refresh list from Registry"/> 
	  <a class="btn btn-mini" href="{{url_for('registry_deleted')}}">
		Check deleted packages
	  </a>
	</p>

	<p>
	  <a href="{{url_for('packages_edit')}}" class="btn btn-success">
		<i class="icon-plus icon-white"></i>
		Add manual package
	  </a>
	</p>

  </div>

  <h1>Package management</h1>
  
  <p>Choose active packages</p>

  <p>
	<input class="btn btn-success" type="submit"
		   value="Activate selected packages" />
  </p>
  <p>
	<a id="markall" class="btn pull-right btn-mini">Mark all active</a> 
	<a id="unmarkall" class="btn pull-right btn-mini">Mark all inactive</a>
  </p>

  <table class="table" id="packages">
    <thead>
      <th>Registry ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Active</th>
      <th></th>
    </thead>

    <tbody>
	{% for pk in pkgs %}

      <tr{% if pk.deleted %} class="muted"{% endif %}>
		<td>
		  <input type="hidden" name="package" value="{{pk.package_name}}" />
		  <a href="{{url_for('packages', id=pk.package_name)}}">
			{{ pk.package_name }}
		  </a>
		</td>

		<td>{{ pk.package_title }}</td>

		<td>
		  {% if pk.man_auto=='man' %}
		  <a href="{{url_for('packages_edit', package_name=pk.package_name)}}">
			<i class="icon-pencil"></i> Manual
		  </a>
		  {% endif %}
		</td>

		<td>
		  <input type="checkbox" {% if pk.active %}checked{% endif %} 
				 name="active_{{pk.package_name}}"/> 
		  <span>{% if pk.active %}Active{% endif %}</span>
		</td>

		<td>
		  {% if pk.deleted %}
          <i class="icon icon-remove" title="This package has been deleted"></i>
		  <span class="hidden-text">Deleted</span>
          {% endif %}
		</td>
      </tr>
	  {% endfor %}
    </tbody>

    </table>

  <input class="btn btn-success" type="submit" 
		 value="Activate selected packages" />
</form> 
    
<script src="{{url_for('static', filename='js/managePackages.js')}}"></script>

{% endblock %}
