            {% if summary_data and summary_data[0] > 0 %}
            <p><i class="icon icon-ok"></i> IATI data found</p>
            {% else %}
            <p><i class="icon icon-remove"></i> No IATI data found</p>
            {% endif %}

            {% if surveydata %}
            <p><i class="icon icon-info-sign"></i> 
			  Data in other formats found
			</p>
            {% else %}
			<p><i class="icon icon-info-sign"></i> 
			  Survey data collection underway
			</p>
            {% endif %}

            {% if summary_data and summary_data[0] > 0 %}
            <p><i class="icon icon-refresh"></i> Publishing frequency: 
			  <span title="{{organisation.frequency_comment}}">
				{{organisation.frequency}}
			  </span>
			</p>

            <p>
              <a class="btn btn-success" 
				 href="{{url_for('organisation_publication', 
					   organisation_code=organisation.organisation_code)}}">
				Review Publication »
			  </a> 
			  <a class="btn btn-mini" 
				 href="{{url_for('organisation_publication_csv', 
					   organisation_code=organisation.organisation_code)}}">
				<i class="icon-download"></i> Data (CSV)
			  </a>
            </p>
			{% else %}

			{% if surveydata %}
			<!-- this is a dupe of the above, and should be a block or macro -->
			<a class="btn btn-success" 
			   href="{{url_for('organisation_publication', 
					 organisation_code=organisation.organisation_code)}}">
			  Review Publication »
			</a> 
			{% else %}
			{% endif %}
            <p>
			  <a class="btn btn-warning" href="http://aidtransparency.net" 
				 target="_blank">Publish to IATI »</a>
			</p>
			{% endif %}
