{% set active_page='publishers'%}{% extends "layout.html" %}
{% block content %}
   <script src="static/jquery.tablesorter.min.js"></script>
    <script >
    $(function() {
    $("table#packages").tablesorter({ sortList: [[0,0]] });
    $("table#publishers").tablesorter({ sortList: [[0,0]] });
    });

    </script>
	<h1>{{p_group.title}}<code>{{p_group.name}}</code></h1>
    <table class="table" id="packages">
    <thead>
    <th>Registry ID</th><th>Name</th><th>Country</th><th>License</th>
    </thead>
    <tbody>
	{% for pk in pkgs %}
    <tr>
	<td><a href="{{url_for('packages', id=pk.id)}}">{{ pk.package_name }}</a></td><td>{{ pk.package_title }}</td><td>{{ pk.package_country }}</td><td>{{ pk.package_license }}</td><!--<td></td>-->
    </tr>
	{% endfor %}
    </tbody>
    </table>

{% endblock %}
