{% set active_page='sampling_list'%}{% extends "layout.html" %}
{% block title %}Sampling{% endblock %}
{% block content %}
    <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script>
    $(function() {
      $("table#samples").tablesorter({
        sortList: [[0,0]]
      });
    });
    </script>

    <h1>Samples</h1>

    {% include '_includes/_pagination.html' %}

    <table class="table" id="samples">
      <thead>
        <th>Organisation</th><th>Test</th><th>Response</th>
      </thead>
      <tbody>
      {% for s in samples %}
        <tr>
          <td>
          {{ s.headers.organisation_name }}
        </td>
        <td>
          <a href="{{url_for('sampling', uuid=s.sample.sampling_id) }}">{{ s.headers.test_description }}</a>
        </td>
          <td>
            <span class="label label-{{ s.response.class }}"><i class="glyphicon glyphicon-{{ s.response.icon }}"></i> {{ s.response.button }}</span>

            {% if s.unsure %}
            <span class="label label-danger"><i class="glyphicon glyphicon-white glyphicon-info-sign"></i> Unsure</span>
            {% endif %}
          </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    {% include '_includes/_pagination.html' %}
{% endblock %}
