{% set active_page='sampling'%}{% extends "layout.html" %}

{% block title %}Sampling Results{% endblock %}

{% block content %}
    <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script>
    $(function() {
        $("table#samples").tablesorter({ sortList: [[0,0]] });
    });
    </script>

    <ul class="breadcrumb">
      <li>Summary</li>
    </ul>

    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ pct_complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pct_complete }}%;">
        <span class="sr-only">{{ pct_complete }}% Complete</span>
      </div>
    </div>

    <h1>Sampling Summary</h1>

    <table class="table" id="samples">
        <thead>
            <th>Organisation</th>
            <th>Test</th>
            <th>Total</th>
            <th>Passes</th>
            <th>Fails</th>
            <th>Remaining</th>
            <th>Result</th>
            <th>Tracker</th>
        </thead>
        <tbody>
        {% for ot in orgtests %}
            <tr>
                <td>{{ ot.organisation.organisation_name }}</td>
                <td><a href="{{ url_for('sampling_list', org=ot.organisation_id, test=ot.test_id) }}">{{ ot.test.description }}</a></td>
                <td>{{ ot.total }}</td>
                <td>{{ ot.total_pass }}</td>
                <td>{{ ot.total_fail }}</td>
                <td>{{ ot.total - ot.total_fail - ot.total_pass }}</td>
                <td>
                    <span class="label
                    {% if ot.pass_status == 'passing' %}
                        label-success
                    {% elif ot.pass_status == 'failing' %}
                        label-danger
                    {% else %}
                        label-default
                    {% endif %}
                    ">{{ ot.pass_status | title }}
                    </span>
                </td>
                <td>
                    {% if ot.failed %}
                    <a href="{{url_for('sampling_change_status', organisation_id=ot.organisation_id, test_id=ot.test_id, status='pass')}}">
                        <span class="label label-danger">Failed</span>
                    </a>
                    {% else %}
                    <a href="{{url_for('sampling_change_status', organisation_id=ot.organisation_id, test_id=ot.test_id, status='fail')}}">
                        <span class="label label-success">Passed</span>
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
