{% set active_page='sampling'%}{% extends "layout.html" %}
{% block title %}Sampling{% endblock %}
{% block content %}
    <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>

    <ul class="breadcrumb">
      <li><a href="{{ url_for('sampling_summary') }}">Summary</a></li>
      <li>Samples</li>
    </ul>

    <h1>Samples</h1>

    <div class="row" style="margin-bottom: 20px">
      <form method="GET">
        <div class="col-lg-6">
          <select class="form-control sampling-filter" id="org-filter" name="org">
            {% for org in all_orgs %}
              <option {% if org.id == org_id %}selected="selected"{% endif %} value="{{ org.id }}">{{ org.organisation_name }}</option>
            {% endfor %}
          </select>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <select class="form-control sampling-filter" id="test-filter" name="test">
            {% for test in all_tests %}
              <option {% if test.id == test_id %}selected="selected"{% endif %} value="{{ test.id }}">{{ test.description }}</option>
            {% endfor %}
          </select>
        </div><!-- /.col-lg-6 -->
      </form>
    </div>

    {% if samples %}
    <table class="table" id="samples">
      <thead>
        <th width="10%">IATI ID</th>
        <th width="55%">Title</th>
        <th width="15%">Response</th>
        <th width="10%">Unsure</th>
        <th width="10%">Comments</th>
      </thead>
      <tbody>
      {% for s in samples %}
        <tr>
          <td>
          <a href="{{url_for('sampling_sample', uuid=s.sample.sampling_id) }}">{{ s.sample.iati_identifier }}</a>
        </td>
        <td>
          <a href="{{url_for('sampling_sample', uuid=s.sample.sampling_id) }}">{{ s.sample.activity_title }}</a>
        </td>
        <td>
          <span class="label label-{{ s.response.class }}"><i class="glyphicon glyphicon-{{ s.response.icon }}"></i> {{ s.response.button }}</span>
        </td>
        <td>
          {% if s.unsure %}
          <span class="label label-danger"><i class="glyphicon glyphicon-white glyphicon-info-sign"></i> Unsure</span>
          {% endif %}
        </td>
        <td>
          {% if s.comment %}
          <a href="#" data-toggle="tooltip" title="{{ s.comment }}"><i class="glyphicon glyphicon-white glyphicon-comment"></i></a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No samples found.</p>
    {% endif %}

    <script>
      $(function() {
        $('.sampling-filter').on('change', function() {
          $(this).closest('form').submit();
        });

        $("table#samples").tablesorter({
          sortList: [[0,0]]
        });
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
{% endblock %}
