{% set active_page='sampling_list'%}{% extends "layout.html" %}
{% block title %}Sampling{% endblock %}
{% block content %}
    <script src="{{url_for('static', 
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#samples").tablesorter({ sortList: [[0,0]] });
    });
    </script>
    <h1>Samples</h1>
    <table class="table" id="samples">
    <thead>
    <th>Organisation</th><th>Test</th><th>Response</th>
    </thead>
    <tbody>
	{% for s in samples %}
    <tr>
      <td>
		<a href="{{url_for('organisations', 
				 organisation_code=s.headers.organisation_code)}}">
		  {{ s.headers.organisation_name }}</a>
	  </td>
	  <td>
		<a href="{{url_for('tests', id=s.sample.test_id)}}">
		  {{ s.headers.test_description }}</a>
	  </td>
      <td>
        <a class="btn btn-mini btn-{{ s.response.class }}">
          <i class="icon icon-white icon-{{ s.response.icon }}"></i>
          {{ s.response.button }}
        </a>
      </td>
      <td>
        {{ s.response.unsure|safe }}
      </td>
      <td>
        <a href="{{url_for('sampling', uuid=s.sample.sampling_id) }}">
          <i class="icon icon-circle-arrow-right"></i>
        </a>
      </td>
	</tr>
	{% endfor %}
    </tbody>
    </table>
{% endblock %}
