{% set active_page='sampling'%}{% extends "layout.html" %}
{% block title %}Sampling{% endblock %}
{% block content %}
    <link href="http://pwyf.github.io/philippines/static/css/leaflet/leaflet.css" media="all" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://pwyf.github.io/philippines/static/js/leaflet/leaflet.js"></script>
    <link href="http://pwyf.github.io/philippines/static/css/leaflet/MarkerCluster.css" media="all" rel="stylesheet" type="text/css" />
    <link href="http://pwyf.github.io/philippines/static/css/leaflet/MarkerCluster.Default.css" media="all" rel="stylesheet" type="text/css" />
    <script src="http://pwyf.github.io/philippines/static/js/leaflet/leaflet.markercluster-src.js"></script>
    <script src="https://github.com/vkiryukhin/vkBeautify/raw/master/vkbeautify.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=xml"></script>
    <style>
    .projectMap {
        height: 350px;
        width: 700px;
        margin: 0 auto;
    }
    code {
        white-space: normal;
    }
    </style>


    <div id="header-insert"></div>
    <hr />

	<form>

    <div id="buttons-insert"></div>

    <div class="sampling-container" id="sampling-container">
	<div id="insert-here"></div>

	</form>

    </div>


{% raw %}
<script id="header-template" type="x-tmpl-mustache">
    <ul class="breadcrumb">
    <li><a href="{% endraw %}{{url_for('sampling')}}{% raw %}">Sampling</a> 
	  <span class="divider">/</span></li>
    <li>
	  <a href="{% endraw %}{{url_for('organisations')}}{% raw %}{{organisation_code}}/">{{ organisation_name }}</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">{{ indicator_name }}</li>
    </ul>
    <h1>Sampling: {{ indicator_name }} </h1>
    <h3>{{ test_description }}</h3>

    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" 
				   data-parent="#accordion2" href="#collapseDefinition">
                Definition
                </a>
            </div>
            <div id="collapseDefinition" class="accordion-body collapse">
                <div class="accordion-inner">
                <p>
                    {{ indicator_description }}
	            </p>
                <h4>Test</h4>
                <p>
                    <i>{{ test_description }}</i>
                </p>
                <p>
                    <code>{{ test_name }}</code>
                </p>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="buttons-template" type="x-tmpl-mustache">
    <div class="row">
        <div class="span12">
            {{# buttons }}
            <button class="btn btn-{{ class }} advance" name="decision" 
					value="{{ value }}">
                <span class="icon icon-white icon-{{ icon }}"></span> 
                <b>{{ button }}</b>
            </button>
            {{/ buttons }}
            <div class="pull-right">
                <label class="checkbox">
                    <input type="checkbox" name="unsure"> <b>Unsure<b>
                </label>
            </div>
        </div>
    </div>
</script>

<script id="result-template" type="x-tmpl-mustache">

    <h3>Activity {{ activity_title }} <code>{{ iati-identifier }}</code></h3>
	<div>
	  Description: {{ activity_description }}</span>
	</div>
    <hr />
    <div class="row" id="data-content">
	{{# results }}
        <div class="span12">
            <h4><span class="muted">Result</span> {{ title }}</h4>
            <p><span class="muted">Description</span> {{ description }}
        </div>
        <div class="span11 offset1">
        	{{# indicators }}
            <h5><span class="muted">Indicator</span> {{ title }}</h5>
            <p><span class="muted">Description</span> {{ description }}

        	{{# periods }}
            <ul>
            <li>Target: {{ target }}</li>
            <li>Actual: {{ actual }}</li>
            </ul>
            {{{ pct }}}
        	{{/ periods }}

        	{{/ indicators }}
        </div>
	{{/ results }}
    </div>

    <hr />

    {{> xml-template}}

	<input type="hidden" name="sampling_id" value="{{ sampling_id }}"></input>

</script>

<script id="conditions-template" type="x-tmpl-mustache">

    <h3>Activity {{ activity_title }} <code>{{ iati-identifier }}</code></h3>
	<div>
	  Description: {{ activity_description }}</span>
	</div>
    <hr />
    <div class="row" id="data-content">
	{{# conditions }}
        <div class="span12">
            <h4><span class="muted">Attached</span> {{ attached }}</h4>
        </div>
        <div class="span11 offset1">
        	{{# conditions }}
            <h5><span class="muted">Text</span> {{ text }}</h5>
            <p><span class="muted">Type</span> {{ type }}
        	{{/ conditions }}
        </div>
	{{/ conditions }}
    </div>

    <hr />

    {{> xml-template}}

	<input type="hidden" name="sampling_id" value="{{ sampling_id }}"></input>

</script>

<script id="document-template" type="x-tmpl-mustache">

    <h3>Activity {{ activity_title }} <code>{{ iati-identifier }}</code></h3>
	<div>
	  Description: {{ activity_description }}</span>
	</div>
    <hr />
    <div class="row" id="data-content">
	{{# documents }}
        <div class="span12">
            <h4>{{ name }}</h4>
            <p><a href="{{ url}}" target="_blank">{{ url }}</a></p>
            {{# categories }}
			<span class="label label-default">
			  {{ category }} ({{ category_code }})
			</span> 
			{{/ categories }}
        </div>
	{{/ documents }}
    </div>

    <hr />

    {{> xml-template}}

	<input type="hidden" name="sampling_id" value="{{ sampling_id }}"></input>

</script>

<script id="location-template" type="x-tmpl-mustache">

    <h3>Activity {{ activity_title }} <code>{{ iati-identifier }}</code></h3>
	<div>
	  Description: {{ activity_description }}</span>
	</div>
    <hr />
    <div class="row" id="location-content">


    <div id="projectMap" class="projectMap">
    </div>

    </div>
    <hr />
    <div class="row" id="data-content">
        <div class="span12">
            <ul>
	        {{# locations }}
            <li>{{ name }} {{ description }}</li>
	        {{/ locations }}
            </ul>
        </div>
    </div>

    <div class="row">
	{{# documents }}
        <div class="span12">
            <h4>{{ name }}</h4>
            <p><a href="{{ url}}" target="_blank">{{ url }}</a></p>
            {{# categories }}
			<span class="label label-default">
			  {{ category }} ({{ category_code }})
			</span> 
			{{/ categories }}
        </div>
	{{/ documents }}
    </div>

    <hr />

    {{> xml-template}}

	<input type="hidden" name="sampling_id" value="{{ sampling_id }}"></input>

</script>
<script id="xml-template" type="x-tmpl-mustache">

    <div class="accordion" id="accordion-xml">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" 
				   data-parent="#accordion-location" href="#collapseXML">
                XML
                </a>
            </div>
            <div id="collapseXML" class="accordion-body collapse">
                <div class="accordion-inner">
                <?prettify?>
                <pre class="prettyprint">{{ xml }}</pre>
                </div>
            </div>
        </div>
    </div>

</script>

{% endraw %}

<script type="text/javascript">
var api_sampling_url = "{{ api_sampling_url }}";
var api_sampling_process_url = "{{ api_process_url }}";
var update = {{ update }};
</script>

<script src="{{url_for('static', filename='js/mustache.js')}}" 
		type="text/javascript">
</script>
<script src="{{url_for('static', filename='js/sampling.js')}}" 
		type="text/javascript">
</script>
{% endblock %}
