{% set active_page='sampling'%}{% extends "layout.html" %}

{% block title %}Sampling Results{% endblock %}

{% block content %}
    <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script>
    $(function() {
        $("table#samples").tablesorter({ sortList: [[0,0]] });
    });
    </script>

    <ul class="breadcrumb">
      <li>Summary</li>
    </ul>

    <h1>Sampling Summary</h1>

    <table class="table" id="samples">
        <thead>
            <th>Organisation</th>
            <th>Test</th>
            <th>Total</th>
            <th>Passes</th>
            <th>Fails</th>
            <th>Result</th>
        </thead>
        <tbody>
        {% for ot in orgtests %}
            <tr>
                <td>{{ ot.organisation.organisation_name }}</td>
                <td><a href="{{ url_for('sampling_list', org=ot.organisation_id, test=ot.test_id) }}">{{ ot.test.description }}</a></td>
                <td>{{ ot.total }}</td>
                <td>{{ ot.total_pass }}</td>
                <td>{{ ot.total_fail }}</td>
                <td>
                    <span class="label
                    {% if ot.pass_status == 'passing' %}
                        label-success
                    {% elif ot.pass_status == 'failing' %}
                        label-danger
                    {% else %}
                        label-default
                    {% endif %}
                    ">{{ ot.pass_status | upper }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
