<table>
    <tr>
        <th>Runtime ID</th>
        <th>Pass rate</th>
        <th>Total tests</th>
        <th>Datetime</th>
    </tr>
    {% for d in data %}
        <tr>
            <td>
                <a href="{{d.runtime_id}}">
                    {{d.runtime_id}}
                </a>
            </td>
            <td>
                <a href="{{d.runtime_id}}">
                    {{d.percent_passed}}
                </a>
            </td>
            <td>
                <a href="{{d.runtime_id}}">
                    {{d.total_tests}}
                </a>
            </td>
            <td>
                <a href="{{d.runtime_id}}">
                    {{d.runtime_datetime}}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
