{% set active_page='tests'%}{% extends "layout.html" %}
{% block title %}{{test.id}} &raquo; Tests{% endblock %}
{% block content %}
    <form action="" method="post">
    <h1>{{test.id}}</h1>
    <h3>Edit this test</h3>
    <table class="table">
    <thead>
        <th>Item</th>
        <th>Value</th>
    </thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td><input type="text" value="{{test.name}}" name="name" /></td>
    </tr>
    <tr>
        <td>Description</td>
        <td><input type="text" value="{{test.description}}" name="description" /></td>
    </tr>
    <tr>
        <td>Level</td>
        <td><input type="text" value="{{test.test_level}}" name="test_level" /></td>
    </tr>
    <tr>
        <td>Active</td>
        <td><input type="checkbox" name="active" value="1"{% if (test.active==1) %} checked{%endif%} /></td>
    </tr>
    <tr>
        <td>Group</td>
        <td><input type="text" value="{{test.test_group}}" name="test_group" /></td>
    </tr>
    <tr>
        <td>Secret password</td>
        <td><input type="password" value="" name="password" /></td>
    </tr>
    <tr>
    <td colspan="2">
    <input type="submit" value="Update" class="btn" />
    </td>
    </tr>
    </tbody>
    </table>
    </form>
{% endblock %}
