{% set active_page='tests'%}{% extends "layout.html" %}
{% block title %}Tests{% endblock %}
{% block content %}
    <script src="{{url_for('static',
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script src="{{url_for('static',
				 filename='js/deletePrompt.js')}}"></script>
    <script >

    $(function() {
    $("table#tests").tablesorter({ sortList: [[0,0]] });
    });
    </script>

	<h1>Select a test</h1>

    <div class="pull-right">
      <a href="{{url_for('tests_new')}}" class="btn btn-success">
		<i class="icon-plus icon-white"></i>New</a>

      <a href="{{url_for('import_tests')}}" class="btn">Import tests</a>
    </div>

    <table class="table" id="tests">
    <thead>
    <th>ID</th><th>Name</th><th>Description</th><th></th>
    </thead>
    <tbody>
	{% for t in tests %}
    <tr>
	<td><a href="{{url_for('tests', id=t.id)}}">{{ t.id }}</a></td>
    <td>{{ t.name }}</td>
    <td>{{ t.description }}</td>
    <td>
        <a href="{{url_for('tests_editor', id=t.id)}}">
		  <i class="icon-pencil"></i></a>
        <a href="{{url_for('tests_delete', id=t.id)}}"
		   data-confirm="Are you sure you want to delete test {{t.name}}?">
		  <i class="icon-trash"></i></a>
    </td>
    </tr>
	{% endfor %}
    </tbody>
    </table>
{% endblock %}
