{% set active_page='users'%}{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}
    <script src="{{url_for('static', 
				 filename='jquery.tablesorter.min.js')}}"></script>
    <script src="{{url_for('static', 
				 filename='js/deletePrompt.js')}}"></script>
    <script >
    $(function() {
    $("table#users").tablesorter({ sortList: [[0,0]] });
    });
    </script>

	<h1>Users</h1>

    <div class="pull-right">
      <a class="btn btn-success" href="{{url_for('users_edit')}}">
		<i class="icon-white icon-plus"></i> 
		<b>New</b>
	  </a>
    </div>
	
    <table class="table" id="users">
    <thead>
    <th>Username</th><th>Name</th><th>Email</th><th>Organisation</th><th></th>
    </thead>
    <tbody>
	{% for user in users %}
    <tr>
	<td>
        {{ user.username }}
    </td>
    <td>{{user.name}}</td>
    <td>{{user.email_address}}</td>
    <td>{{user.organisation}}</td>
    <td>
	  <a href="{{url_for('users_edit', username=user.username)}}">
		<i class="icon-pencil"></i>
	  </a>
	  <a href="{{url_for('users_delete', username=user.username)}}" 
		 data-confirm="Are you sure you want to delete user {{user.username}}?">
		<i class="icon-trash"></i>
	  </a>
	</td>
    </tr>
	{% endfor %}
    </tbody>
    </table>
{% endblock %}
