{% set active_page='users'%}{% extends "layout.html" %}
{% block title %}
  {% if user %}
    Edit
  {% else %}
    New
  {% endif %} 
  Users
{% endblock %}
{% block content %}

    <ul class="breadcrumb">

    <li>
	  <a href="{{url_for('users')}}">Users</a> 
	  <span class="divider">/</span>
	</li>
    <li class="active">{{user.username}}</li>
    </ul>

	{% if user%}<h1>Edit user {{user.username}}</h1>
    {% else %}<h1>New user</h1>{%endif%}

    <form name="userupdate" method="post" action="">
    <table class="table">
    <thead>
    <th>Item</th><th>Value</th>
    </thead>
    <tbody>
    <tr>
	  <td>Username:</td><td><input type="text" name="username" 
								   value="{{ user.username }}"/></td>
    </tr>
    <tr>
	  <td>Name:</td><td><input type="text" name="name" 
							   value="{{ user.name }}"/></td>
    </tr>
    <tr>
      <td>Email address:</td><td><input type="text" name="email_address" 
										value="{{user.email_address}}" /></td>
    </tr>
    <tr>
      <td>Organisation:</td><td><input type="text" name="organisation" 
									   value="{{user.organisation}}" /></td>
    </tr>
    {% if not user %}
    <tr>
      <td>Password:</td><td><input type="text" name="password" /></td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2"><input type="submit" value="Update" class="btn"/></td>
    </tr>
    </tbody>
    </table>

    </form>

    {% if user %}
	<a class="btn btn-success" href="#addPermission" role="button" 
	   data-toggle="modal">
	  <i class="icon-white icon-plus"></i> 
	  <b>Add permissions</b>
	</a>

    <a class="btn btn-success" href="#addPermissionsSet" role="button" 
	   data-toggle="modal">
	  <i class="icon-white icon-th-large"></i> 
	  <b>Add set of permissions</b>
	</a>

    <h2>Permissions</h2>
    <table class="table" id="permissions">
    <thead>
      <th>Permission name</th>
	  <th>Permission method</th>
	  <th>Permission value</th>
	  <th></th>
    </thead>

    <tbody>
    {% for permission in permissions %}
    <tr id="permission{{permission.id}}">
      <td>{{permission.permission_name}}</td>
	  <td>{{permission.permission_method}}</td>
	  <td>{{permission.permission_value}}</td>
	  <td>
		<a href="" 
		   data-confirm="Are you sure you want to delete this permission?" 
		   data-permission-id="{{permission.id}}">
		  <i class="icon-trash"></i>
	  </td>
	</tr>
    {% endfor %}
    </tbody>
    </table>

    {% endif %}
    <div id="addPermission" class="modal hide fade" tabindex="-1" 
		 role="dialog" aria-labelledby="addFeedbackModalLabel" 
		 aria-hidden="true"> 

        <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" 
					aria-hidden="true">×</button>

            <form method="post" action="">

              <h3 id="addFeedbackModalLabel">
				Add permissions for {{user.username}}
			  </h3>
        </div>

        <div class="modal-body">
            <p>Add permissions to this user.</p>
            <table class="table">
            <tbody>
            <tr>
            <td>Name</td>
            <td><select id="name">
                <option value="admin">Admin</option>
                <option value="super">Super (can see everything; can't edit, delete, create)</option>
                <option value="organisation">Organisation</option>
                <option value="organisation_feedback">Organisation Feedback</option>
                <option value="survey">Survey</option>
                <option value="survey_researcher">Survey Researcher</option>
                <option value="survey_send">Survey Send</option>
                <option value="survey_donorreview">Survey Donor review</option>
                <option value="survey_pwyfreview">Survey PWYF Review</option>
                <option value="survey_donorcomments">Survey Donor comments</option>
                <option value="survey_pwyffinal">Survey PWYF Final</option>
                <option value="survey_finalised">Survey Finalised</option>
                <option value="survey_cso">Survey CSO</option>
                <option value="cso">CSO</option>
            </select></td>
            </tr>
            <tr>
            <td>Method</td>
            <td><select id="method">
                <option value="view">View</option>
                <option value="edit">Edit</option>
                <option value="role">Role</option>
                <option value="create">Create</option>
            </select></td>
            </tr>
            <tr>
            <td>Value</td>
            <td> <input id="value" type="text" />
            </td>
            </tr>
            </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a id="addpermissionbtn" class="btn btn-success" href="">Add permission</a>
        </div>
    </form>
    </div>
    <div id="addPermissionsSet" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addFeedbackModalLabel" aria-hidden="true"> 
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <form method="post" action="">
            <h3 id="addFeedbackModalLabel">Add permissions Set for {{user.username}}</h3>
        </div>
        <div class="modal-body">
            <p>Add a group of permissions to this user.</p>
            <table class="table">
            <tbody>
            <tr>
            <td>Name</td>
            <td><select id="setname">
                <option value="csoresearcher">CSO Researcher, can view organisation and edit survey</option>
                <option value="donor">Donor, can view organisation and edit survey</option>
                <option value="csocomments">CSO commenter, can view organisation and provide comments on survey</option>
            </select></td>
            </tr>
            <tr>
            <td>Organisation</td>
            <td> <select id="setvalue">
                 <option value="" selected></option>
                 {% for organisation in organisations %}
                 <option value="{{organisation.organisation_code}}">{{organisation.organisation_name}}</option>
                 {% endfor %}
                 </select>
            </td>
            </tr>
            </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a id="addpermissionSetbtn" class="btn btn-success" href="">Add permission</a>
        </div>
    </form>
    </div>
   <script src="{{url_for('static', filename='js/userPermissions.js')}}"></script>
{% endblock %}
