#masthead {
  padding: 20px;
  background-color: rgb(195, 75, 114);
  color: white;
}
#main-navbar {
  margin-bottom: 0;
}
footer {
  background-color: #F9F9F9;
  border-top: 1px solid #E5E5E5;
  padding: 20px 0;
  margin-top: 100px;
}

/* Affix styling */
#survey-home-page .affix {
  position: fixed;
  top: 0;
  width: 213px;
}
#survey-home-page .affix-bottom {
  position: absolute;
  top: -200px;
  width: 213px;
}
#survey-home-page .sidebar-nav {
  margin-top: 20px;
}
#survey-home-page .sidebar-nav .nav .nav {
  display: none;
  padding-bottom: 10px;
}
#survey-home-page .sidebar-nav .nav > li > .active + ul {
  display: block;
}
#survey-home-page .sidebar-nav .nav > li > a {
  padding: 4px 20px;
}
#survey-home-page .sidebar-nav .nav .nav > li > a {
  padding: 1px 0 0 30px;
}
#survey-home-page .sidebar-nav .nav li > a.active {
  color: rgb(195, 75, 114);
  font-weight: bold;
}
#survey-home-page h2.component-name {
  border-bottom: 1px solid #eee;
}
#survey-home-page .indicator {
  margin: 20px 0;
  border: 1px solid #eee;
  border-radius: 3px;
}
#survey-home-page .research-findings, .publisher-response {
  padding: 20px;
  border-left: 5px solid #eee;
}
#survey-home-page .research-findings {
  border-left-color: #62a9c1;
}
#survey-home-page .research-findings .evidence {
  /* Prevent URLs from flooding */
  word-break: break-all;
}
#survey-home-page .publisher-response {
  background-color: #fcf8e3;
  border-left-color: rgb(195, 75, 114);
}
#survey-home-page .research-findings .comments {
  border-left: 2px solid #aaa;
  padding-left: 20px;
}

#security-login-page form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
#security-login-page .checkbox {
  font-weight: 400;
}
#security-login-page .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#security-login-page .form-control:focus {
  z-index: 2;
}
#security-login-page input#email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#security-login-page input#password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Rather than figure out how to change the classes returned by
   flask-security, this just overrides the styles. */
.alert-info {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important;
}
