#masthead {
  padding: 20px;
  background-color: rgb(195, 75, 114);
  color: white;
}
#main-navbar {
  margin-bottom: 0;
}
footer {
  background-color: #F9F9F9;
  border-top: 1px solid #E5E5E5;
  padding: 20px 0;
  margin-top: 100px;
}

/* Affix styling */
#survey-home-page .affix {
  position: fixed;
  top: 0;
  width: 213px;
}
#survey-home-page .affix-bottom {
  position: absolute;
  top: -200px;
  width: 213px;
}
#survey-home-page .sidebar-nav {
  margin-top: 20px;
}
#survey-home-page .sidebar-nav .nav .nav {
  display: none;
  padding-bottom: 10px;
}
#survey-home-page .sidebar-nav .nav > li > .active + ul {
  display: block;
}
#survey-home-page .sidebar-nav .nav > li > a {
  padding: 4px 20px;
}
#survey-home-page .sidebar-nav .nav .nav > li > a {
  padding: 1px 0 0 30px;
}
#survey-home-page .sidebar-nav .nav li > a.active {
  color: rgb(195, 75, 114);
  font-weight: bold;
}
#survey-home-page h2.component-name {
  border-bottom: 1px solid #eee;
}
#survey-home-page .indicator {
  margin: 20px 0;
  border: 1px solid #eee;
  border-radius: 3px;
}
#survey-home-page .research-findings, .publisher-response {
  padding: 20px;
  border-left: 5px solid #eee;
}
#survey-home-page .research-findings {
  border-left-color: #62a9c1;
}
#survey-home-page .research-findings .evidence {
  /* Prevent URLs from flooding */
  word-break: break-all;
}
#survey-home-page .publisher-response {
  background-color: #fcf8e3;
  border-left-color: rgb(195, 75, 114);
}
#survey-home-page .research-findings .comments {
  border-left: 2px solid #aaa;
  padding-left: 20px;
}

#core-home-page .jumbotron {
    background: #3e9336;
    background: -moz-linear-gradient(45deg,#3e9336 0%,#7c9ac4 100%);
    background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#3e9336),color-stop(100%,#7c9ac4));
    background: -webkit-linear-gradient(45deg,#3e9336 0%,#7c9ac4 100%);
    background: -o-linear-gradient(45deg,#3e9336 0%,#7c9ac4 100%);
    background: -ms-linear-gradient(45deg,#3e9336 0%,#7c9ac4 100%);
    background: linear-gradient(45deg, #3e9336 0%, #7c9ac4 100%) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e9336',endColorstr='#7c9ac4',GradientType=1);
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
    padding:60px 0 30px;
    margin-top:none;
    top:0;
    color:#ffffff;
}
