{% extends "surveys/survey_edit.html" %}
{% block survey %}

	<h3>Confirm send data to donor.</h3>
    <p class="lead">Are you sure you want to send this survey to the donor?</p>
    
    <form action="" method="post">
    
    {% if organisationsurvey.currentworkflow_id==none or organisationsurvey.currentworkflow_id==workflow.Workflow.id %}
    <label for="submit" class="muted"><input id="submit" type="submit" class="btn btn-success" value="Send" name="submit" /> Send to donor</label>
    {% else %}
    <label for="submit" class="muted"><input id="submit" type="submit" class="btn btn-success" value="Send" name="submit" disabled /> Already sent to donor</label>
    {% endif%}
    

    </form>
{% endblock %}
