{% extends "surveys/survey_edit.html" %}
{% block survey %}

    {% if workflow.Workflow.name=='pwyfreview' %}
    {% set rows = 3 %}
    {% else %}
    {% set rows = 2 %}
    {% endif %}

    <style type="text/css">
        th.restrict_text, td.restrict_text { 
            max-width:40px; 
            word-wrap:break-word;
        }
    </style>
	<h3>Please check data for {{org_indicators.zero|count+org_indicators.commitment|count}} indicators.</h3>
    <div class="alert alert-info">
        <h4>Guidelines</h4>
        <p>We have conducted an initial assessment of your organisation’s commitment to aid transparency and publication of information on aid activities. Thank you for agreeing to review this assessment.</p>
        <p> Guidelines on reviewing this assessment can be found here.</p>
    </div>
    
    <form action="" method="post">
    <h2>Commitment indicators</h2>
    <table class="table" id="indicators">
    <thead><th>Indicator</th><th>Responder</th><th>Score</th><th class="restrict_text">Evidence</th><th class="restrict_text">Comments</th></thead>
    <tbody>
    {% for i, indicator in org_indicators["commitment"].items() %}<tr>
            
            <td rowspan="{{rows}}"><a href="#indicator{{indicator.indicator.id}}" role="button" data-toggle="modal">{{indicator.indicator.description}}</a>
                <div id="indicator{{indicator.indicator.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="indicatorHeader" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="indicatorHeader">Indicator: {{indicator.indicator.description}}</h3>
                    </div>
                    <div class="modal-body">
                        {{indicator.indicator.longdescription}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div></td>
            <td><span class="muted">Researcher</span></td>
            <td>{{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}
            <td class="restrict_text">
            {{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% if workflow.Workflow.name=='pwyfreview' %}

        <tr>
            <td><span class="muted">Donor review</span></td>
            <td>{{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}<br />
            </td>
            <td class="restrict_text">
            {{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}
        {% if (workflow.Workflow.name == 'pwyfreview') and (surveydata.pwyfreview) %}
        {% set data = surveydata.pwyfreview %}            
        {% elif (workflow.Workflow.name == 'donorreview') and (surveydata.donorreview) %}
        {% set data = surveydata.donorreview %}  
        {% else %}
        {% set data = surveydata.researcher %}  
        {% endif %}
        <tr id="tr{{indicator.indicator.id}}" class="group-unknown">
        <td>{{ workflow.Workflow.title }}<input type="hidden" name="indicator" value="{{indicator.indicator.id}}" /></td>
        <td>
        <textarea name="{{indicator.indicator.id}}-ordinal_value">{% if surveydata %}{{data[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}{%endif%}</textarea>
        </td>

        <td><textarea name="{{indicator.indicator.id}}-source">{% if surveydata %}{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}{%endif%}</textarea></td>

        <td><textarea name="{{indicator.indicator.id}}-comments">{% if surveydata %}{{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}{%endif%}</textarea></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <hr />
    <h2>Publication indicators</h2>
    <table class="table" id="indicators">
    <thead><th>Indicator</th><th>Responder</th><th>Published?</th><th class="restrict_text">Evidence</th><th class="restrict_text">Comments</th></thead>

    <tbody>
    {% for i, indicator in org_indicators["zero"].items() %}
        <tr>
            <td rowspan="{{rows}}"><a href="#indicator{{indicator.indicator.id}}" role="button" data-toggle="modal">{{indicator.indicator.description}}</a>
                <div id="indicator{{indicator.indicator.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="indicatorHeader" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="indicatorHeader">Indicator: {{indicator.indicator.description}}</h3>
                    </div>
                    <div class="modal-body">
                        {{indicator.indicator.longdescription}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div></td>
            <td><span class="muted">Researcher</span></td>
            <td>
            <span class="badge badge-{{surveydata.researcher[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="Researcher's initial assessment">{{surveydata.researcher[indicator.indicator.id].PublishedStatus.title}}</span><br />
            <span class="badge badge-{{surveydata.researcher[indicator.indicator.id].PublishedFormat.format_class}}" title="Researcher's initial assessment">{{surveydata.researcher[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% if workflow.Workflow.name=='pwyfreview' %}

        <tr>
            <td><span class="muted">Donor review</span></td>
            <td>
            <span class="badge badge-{{surveydata.donorreview[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="Donor's response">{{surveydata.donorreview[indicator.indicator.id].PublishedStatus.title}}</span><br />
            <span class="badge badge-{{surveydata.donorreview[indicator.indicator.id].PublishedFormat.format_class}}" title="Donor's response">{{surveydata.donorreview[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}
        {% if (workflow.Workflow.name == 'pwyfreview') and (surveydata.pwyfreview) %}
        {% set data = surveydata.pwyfreview %}            
        {% elif (workflow.Workflow.name == 'donorreview') and (surveydata.donorreview) %}
        {% set data = surveydata.donorreview %}  
        {% else %}
        {% set data = surveydata.researcher %}  
        {% endif %}
        <tr id="tr{{indicator.indicator.id}}">
        <td>{{ workflow.Workflow.title }}<input type="hidden" name="indicator" value="{{indicator.indicator.id}}" /></td>
        <td>
        {% for i, publishedstatus in publishedstatuses.items() %}
        <label for="{{indicator.indicator.id}}-published-{{publishedstatus.id}}">
        <input type="radio" name="{{indicator.indicator.id}}-published" value="{{publishedstatus.id}}" id="{{indicator.indicator.id}}-published-{{publishedstatus.id}}"{% if data and data[indicator.indicator.id].OrganisationSurveyData.published_status == publishedstatus.id %} checked{%endif%}> {{publishedstatus.title}}</input></label>
        {% endfor %}<br />
        {% if not indicator.indicator.indicator_noformat %}
        <b>Format:</b>
        {% for i, publishedformat in publishedformats.items() %}
        <label for="{{indicator.indicator.id}}-publishedformat-{{publishedformat.id}}">
        <input type="radio" name="{{indicator.indicator.id}}-publishedformat" value="{{publishedformat.id}}" id="{{indicator.indicator.id}}-publishedformat-{{publishedformat.id}}"{% if data and data[indicator.indicator.id].OrganisationSurveyData.published_format == publishedformat.id %} checked{%endif%}> {{publishedformat.title}}</input></label>
        {% endfor %}
        {% else %}
        <p><input type="hidden" name="{{indicator.indicator.id}}-noformat" value="1" />Format does not apply to this indicator, as it is a document.</p>
        {% endif %}
        </td>

        <td><textarea name="{{indicator.indicator.id}}-source">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}{%endif%}</textarea></td>

        <td><textarea name="{{indicator.indicator.id}}-comments">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}{%endif%}</textarea></td>
        </tr>

    {% endfor %}
    </tbody>
    </table>
    {% if organisationsurvey.currentworkflow_id==none or organisationsurvey.currentworkflow_id==workflow.Workflow.id %}
    <label for="submit" class="muted"><input id="submit" type="submit" class="btn btn-success" value="Submit response" name="submit" /> Submit data (you cannot edit this survey once it's been submitted)</label>
    {%endif%}
    <label for="save" class="muted"><input id="save" type="submit" class="btn" value="Save" name="save" /> Save changes</label>

    </form>
{% endblock %}
