{% from "surveys/ind_commitment_finalreview.html" 
        import ind_commitment as ind_commitment %}
{% from "surveys/ind_zero_finalreview.html" 
        import ind_zero as ind_zero %}
{% extends "surveys/survey_edit.html" %}
{% block survey %}

    <style type="text/css">
        th.restrict_text, td.restrict_text { 
            max-width:40px; 
            word-wrap:break-word;
        }
    </style>
    {% set rows = surveydata|count %}
    {% if not workflow.Workflow.name in surveydata %}
    {% set rows = rows+2 %}
    {% else %}
    {% set rows = rows+1 %}
    {% endif %}
	<h3>Please check the assessment for 
	  {{org_indicators.zero|count+org_indicators.commitment|count}} 
	  information items.</h3>
    <div class="alert alert-info">
        <h4>Guidelines</h4>
        <p>The final assessment below has been conducted based on a review 
		  of the evidence provided by the donor organisation and our CSO 
		  partner</p>
        <p>As part of the data standardisation process, please check if
		  the responses below are consistent with our scoring approach 
		  and methodology. Any change in response should be a result of
		  this data standardisation process alone. No new information can 
		  be provided by the donor or our CSO partner at this time.</p>
    </div>
    
    <form action="" method="post">
    <h2>Commitment</h2>
    <table class="table" id="indicators">
    <thead><th>Information item</th><th>Responder</th><th>Score</th><th class="restrict_text">Evidence</th><th class="restrict_text">Comments</th></thead>

    <tbody>
    {% for i, indicator in org_indicators["commitment"].items() %}
		{{ ind_commitment(surveydata, rows, workflow, indicator) }}
	{% endfor %}
    </tbody>
    </table>
    <hr />
    <h2>Publication</h2>
    <table class="table" id="indicators">

    <thead><th>Information item</th><th>Responder</th><th>Published?</th><th class="restrict_text">Evidence</th><th class="restrict_text">Comments</th></thead>

    <tbody>
    {% for i, indicator in org_indicators["zero"].items() %}
	    {{ ind_zero(surveydata, rows, publishedstatuses, publishedformats, workflow, indicator) }}
    {% endfor %}
    </tbody>
    </table>
	<!-- boilerplate below here -->
    {% if organisationsurvey.currentworkflow_id==none or organisationsurvey.currentworkflow_id==workflow.Workflow.id %}
    <label for="submit" class="muted"><input id="submit" type="submit" class="btn btn-success" value="Submit response" name="submit" /> Submit data (you cannot edit this survey once it's been submitted)</label>
    {%endif%}
    <label for="save" class="muted"><input id="save" type="submit" class="btn" value="Save" name="save" /> Save changes</label>

    </form>
{% endblock %}
