{% from "surveys/ind_commitment_review.html" 
        import ind_commitment as ind_commitment %}
{% from "surveys/ind_zero_review.html" 
        import ind_zero as ind_zero %}

{% extends "surveys/survey_edit.html" %}

{% if workflow.Workflow.name=='pwyfreview' %}
  {% set rows = 3 %}
{% else %}
  {% set rows = 2 %}
{% endif %}

{% block ask %}
	Please check data for 
	  {{org_indicators.zero|count+org_indicators.commitment|count}} 
	  information items.
{% endblock %}

{% block guidance %}
        <p class="lead">We have conducted an initial assessment of the aid 
          transparency of {{organisation.organisation_name}}. Thank you for 
          agreeing to review this assessment.</p>
        <h4>Guidelines</h4>
        <ol>
            <li>We are only looking for information which is:</li>
            <ul>
                <li><b>current</b> (ongoing activities, or ended 
                within the last 12 months);</li>
                <li><b>publicly available</b>.</li>
            </ul>
            <li>Only information which is <b>Always</b> published will be 
                scored. The more open and comparable the format, the higher
                the score (machine-readable scores highest, PDF lowest).</li>
            <li>If you disagree with the initial assessment or the evidence
                provided, please select the appropriate option and let us know 
                in the comments box.</li>
        </ol>
        <p><b>All data and comments collected will be made public once the 2014 
              Index is published.</b></p>
        <a href="{{ url_for('about_donor') }}" class="btn" target="_blank">Detailed guidelines &raquo;</a>
{% endblock %}
