{% from "surveys/ind_commitment_collect.html" 
        import ind_commitment as ind_commitment %}
{% from "surveys/ind_zero_collect.html" 
        import ind_zero as ind_zero %}

{% extends "surveys/survey_edit.html" %}

{% set rows = 0 %}

{% block ask %}
	Please provide data for 
	  {{org_indicators.zero|count+org_indicators.commitment|count}} 
	  information items.
{% endblock %}

{% block guidance %}
        <p>Thank you for agreeing to contribute to the 2013 Aid 
		  Transparency Index process. The data you are collecting
 		  will help to accurately capture the levels of aid information 
		  available, show changes over time and facilitate clear, 
		  practical improvements in the availability of aid information.</p>
        <p>Detailed instructions on how to fill this survey can be 
		  found <a href="{{ url_for('about_data_collection') }}">here</a>.</p>
		  <p><b>Please note that you need to complete only the section relating to publication.</b></p>
{% endblock %}
