{% from "surveys/ind_commitment_collect.html"
        import ind_commitment as ind_commitment %}
{% from "surveys/ind_zero_collect.html"
        import ind_zero as ind_zero %}

{% extends "surveys/survey_edit.html" %}

{% set rows = 0 %}

{% block ask %}
    Please provide data for
    {{ org_indicators.zero|count + org_indicators.commitment|count }}
    indicators.
{% endblock %}

{% block guidance %}
        <p class="lead">Thank you for agreeing to contribute to the {{ ati_year }}
          Aid Transparency Index. The data you are collecting will help to
          accurately capture the levels of aid information available.</p>
        <h4>Guidelines</h4>
        <ol>
            <li>Please answer the publication questions for the <strong>largest recipient
                country</strong>, and for <strong>current activities</strong> only (currently active,
                or ended within the last 12 months).</li>
            <li>Commitment questions have already been filled in by Publish What
                You Fund &ndash; so you only need to complete the <strong>Publication</strong> section.</li>
        </ol>
        <p><strong>All data and comments collected will be made public once the Index is published.</strong></p>
{% endblock %}
