{% from "surveys/ind_commitment_review.html" 
        import ind_commitment as ind_commitment %}
{% from "surveys/ind_zero_review.html" 
        import ind_zero as ind_zero %}

{% extends "surveys/survey_edit.html" %}
{% block survey %}

    {% if workflow.Workflow.name=='pwyfreview' %}
    {% set rows = 3 %}
    {% else %}
    {% set rows = 2 %}
    {% endif %}

    <style type="text/css">
        th.restrict_text, td.restrict_text { 
            max-width:40px; 
            word-wrap:break-word;
        }
    </style>
	<h3>Please check data for 
	  {{org_indicators.zero|count+org_indicators.commitment|count}} 
	  information items.</h3>
    <div class="alert alert-info">
        <h4>Guidelines</h4>
        <p>We have conducted an initial assessment of your organisation’s 
		  commitment to aid transparency and publication of information on 
		  aid activities. Thank you for agreeing to review this assessment.</p>
        <p> Guidelines on reviewing this assessment can be found here.</p>
    </div>
    
    <form action="" method="post">
    <h2>Commitment</h2>
    <table class="table" id="indicators">
    <thead><th>Information item</th><th>Responder</th><th>Score</th><th class="restrict_text">Evidence</th><th class="restrict_text">Comments</th></thead>

    <tbody>
    {% for i, indicator in org_indicators["commitment"].items() %}
	  {{ ind_commitment(surveydata, rows, workflow, indicator) }}
    {% endfor %}
    </tbody>
    </table>
    <hr />
    <h2>Publication</h2>
    <table class="table" id="indicators">

    <thead><th>Information item</th><th>Responder</th><th>Published?</th><th class="restrict_text">Evidence</th><th class="restrict_text">Comments</th></thead>

    <tbody>
    {% for i, indicator in org_indicators["zero"].items() %}
	  {{ ind_zero(surveydata, rows, workflow, indicator, publishedstatuses, publishedformats) }}
    {% endfor %}
    </tbody>
    </table>
	<!-- boilerplate below here -->
    {% if organisationsurvey.currentworkflow_id==none or organisationsurvey.currentworkflow_id==workflow.Workflow.id %}
    <label for="submit" class="muted"><input id="submit" type="submit" class="btn btn-success" value="Submit response" name="submit" /> Submit data (you cannot edit this survey once it's been submitted)</label>
    {%endif%}
    <label for="save" class="muted"><input id="save" type="submit" class="btn" value="Save" name="save" /> Save changes</label>

    </form>
{% endblock %}
