{% from "surveys/_published.html" import published as published %}
{% from "surveys/_published_ordinal.html" import published_ordinal as published_ordinal %}
{% macro ind_zero(
  surveydata,
  rows,
  twentytwelvedata,
  old_publication_status,
  publishedstatuses,
  publishedformats,
  workflow,
  indicator,
  years,
  year_data,
  organisation
) %}
        {% set data = surveydata['researcher'] %}
        <tr class="indicator{{indicator.indicator.id}}">
            <td rowspan="{{rows}}"><a href="#indicator{{indicator.indicator.id}}" role="button" data-toggle="modal">{{indicator.indicator.description}}</a>
                <div id="indicator{{indicator.indicator.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="indicatorHeader" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="indicatorHeader">Indicator: {{indicator.indicator.description}}</h3>
                    </div>
                    <div class="modal-body">
                        {{indicator.indicator.longdescription}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div></td>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            {% if indicator.indicator.indicator_ordinal %}
                <span class="badge badge-{{year_data[data[indicator.indicator.id].OrganisationSurveyData.ordinal_value].class}}" title="Researcher's initial assessment">
                {{year_data[data[indicator.indicator.id].OrganisationSurveyData.ordinal_value].text}}</span>
            {% else %}
                <span class="badge badge-{{data[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="Researcher's initial assessment">{{data[indicator.indicator.id].PublishedStatus.title}}</span>
            {% endif %}<br />
            <span class="badge badge-{{data[indicator.indicator.id].PublishedFormat.format_class}}" title="Researcher's initial assessment">{{data[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>

        {% if surveydata.donorreview %}
        {% set data = surveydata['donorreview'] %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            {% if indicator.indicator.indicator_ordinal %}
                <span class="badge badge-{{year_data[data[indicator.indicator.id].OrganisationSurveyData.ordinal_value].class}}" title="Donor's response">
                {{year_data[data[indicator.indicator.id].OrganisationSurveyData.ordinal_value].text}}</span>
            {% else %}
                <span class="badge badge-{{data[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="Donor's response">{{data[indicator.indicator.id].PublishedStatus.title}}</span>
            {% endif %}<br />
            <span class="badge badge-{{data[indicator.indicator.id].PublishedFormat.format_class}}" title="Donor's response">{{data[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% if surveydata.pwyfreview %}
        {% set data = surveydata['pwyfreview'] %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            {% if indicator.indicator.indicator_ordinal %}
                <span class="badge badge-{{year_data[data[indicator.indicator.id].OrganisationSurveyData.ordinal_value].class}}" title="Donor's response">
                {{year_data[data[indicator.indicator.id].OrganisationSurveyData.ordinal_value].text}}</span>
            {% else %}
                <span class="badge badge-{{data[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="PWYF response">{{data[indicator.indicator.id].PublishedStatus.title}}</span>
            {% endif %}<br />
            <span class="badge badge-{{data[indicator.indicator.id].PublishedFormat.format_class}}" title="PWYF response">{{data[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% if surveydata.donorcomments %}
        {% set data = surveydata.donorcomments %}
        {% set accepted_val = data[indicator.indicator.id].OrganisationSurveyData.published_accepted %}
        {% if accepted_val == 1 %}
        {% set accepted = 'Agree' %}
        {% set accepted_class = 'success' %}
        {% elif accepted_val == 0 %}
        {% set accepted = 'Disagree' %}
        {% set accepted_class = 'important' %}
        {% else %}
        {% set accepted = '' %}
        {% set accepted_class = '' %}
        {% endif %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            <span class="badge badge-{{accepted_class}}" title="Agree or disagree">{{accepted}}</span>
            </td>
            <td class="restrict_text"></td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% if surveydata.cso %}
        {% set data = surveydata.cso %}
        {% set accepted_val = data[indicator.indicator.id].OrganisationSurveyData.published_accepted %}
        {% if accepted_val == 1 %}
        {% set accepted = 'Agree' %}
        {% set accepted_class = 'success' %}
        {% elif accepted_val == 0 %}
        {% set accepted = 'Disagree' %}
        {% set accepted_class = 'important' %}
        {% else %}
        {% set accepted = '' %}
        {% set accepted_class = '' %}
        {% endif %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            <span class="badge badge-{{accepted_class}}" title="Agree or disagree">{{accepted}}</span>
            </td>
            <td class="restrict_text"></td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% if surveydata.pwyffinal %}
        {% set data = surveydata.pwyffinal %}
        {% elif surveydata.pwyfreview %}
        {% set data = surveydata.pwyfreview %}
        {% else %}
        {% set data = surveydata.researcher %}
        {% endif %}
        <tr id="tr{{indicator.indicator.id}}">
        <td rowspan="2">{{ workflow.Workflow.title }}<input type="hidden" name="indicator" value="{{indicator.indicator.id}}" /></td>
        <td>
        <label for="{{indicator.indicator.id}}-agree-1">
        <input type="radio" name="{{indicator.indicator.id}}-agree" value="1" id="{{indicator.indicator.id}}-agree-1"{% if not (data and data[indicator.indicator.id].OrganisationSurveyData.published_accepted == 0) %} checked{%endif%}> Agree</input>
        <br />
        <span class="muted">Agree</span></label>
        <label for="{{indicator.indicator.id}}-agree-0">
        <input type="radio" name="{{indicator.indicator.id}}-agree" value="0" id="{{indicator.indicator.id}}-agree-0"{% if data and data[indicator.indicator.id].OrganisationSurveyData.published_accepted == 0 %} checked{%endif%}> Disagree</input>
        <br />
        <span class="muted">Disagree</span></label>
        </td>
        <td colspan="2"></td>
        </tr>
        <tr id="tr{{indicator.indicator.id}}">
        <td>
          {% if indicator.indicator.indicator_ordinal %}
            {{ published_ordinal(data, publishedstatuses, publishedformats, indicator, years) }}
          {% else %}
            {{ published(data, publishedstatuses, publishedformats, indicator) }}
          {% endif %}
        </td>

        <td><textarea name="{{indicator.indicator.id}}-source">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}{%endif%}</textarea></td>

        <td><textarea name="{{indicator.indicator.id}}-comments">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}{%endif%}</textarea></td>
        </tr>
{% endmacro %}
