{% macro ind_zero(
  surveydata, 
  rows, 
  publishedstatuses,
  publishedformats,
  workflow, 
  indicator
) %}
        {% set data = surveydata['researcher'] %}
        <tr class="indicator{{indicator.indicator.id}}">
            <td rowspan="{{rows}}"><a href="{{url_for('indicatortests', indicatorgroup="pwyf2013", indicator=indicator.indicator.name)}}">{{indicator.indicator.description}}</a></td>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            <span class="badge badge-{{data[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="Researcher's initial assessment">{{data[indicator.indicator.id].PublishedStatus.title}}</span>
            <span class="badge badge-{{data[indicator.indicator.id].PublishedFormat.format_class}}" title="Researcher's initial assessment">{{data[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>

        {% if surveydata.donorreview %}
        {% set data = surveydata['donorreview'] %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            <span class="badge badge-{{data[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="Donor's response">{{data[indicator.indicator.id].PublishedStatus.title}}</span>
            <span class="badge badge-{{data[indicator.indicator.id].PublishedFormat.format_class}}" title="Donor's response">{{data[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% if surveydata.pwyfreview %}
        {% set data = surveydata['pwyfreview'] %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            <span class="badge badge-{{data[indicator.indicator.id].PublishedStatus.publishedstatus_class}}" title="PWYF response">{{data[indicator.indicator.id].PublishedStatus.title}}</span>
            <span class="badge badge-{{data[indicator.indicator.id].PublishedFormat.format_class}}" title="PWYF response">{{data[indicator.indicator.id].PublishedFormat.title}}</span>
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% if surveydata.donorcomments %}
        {% set data = surveydata['donorcomments'] %}
{% if data[indicator.indicator.id].OrganisationSurveyData.published_accepted == 1 %}
        {% set accepted = 'Agree' %}
        {% set accepted_class = 'success' %}
        {% else %}
        {% set accepted = 'Disagree' %}
        {% set accepted_class = 'important' %}
        {% endif %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            <span class="badge badge-{{accepted_class}}" title="Agree or disagree">{{accepted}}</span>
            </td>
            <td class="restrict_text"></td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% if surveydata.cso %}
        {% set data = surveydata['cso'] %}
        {% if data[indicator.indicator.id].OrganisationSurveyData.published_accepted == 1 %}
        {% set accepted = 'Agree' %}
        {% set accepted_class = 'success' %}
        {% else %}
        {% set accepted = 'Disagree' %}
        {% set accepted_class = 'important' %}
        {% endif %}
        <tr>
            <td><span class="muted">{{data[indicator.indicator.id].Workflow.title}}</span></td>
            <td>
            <span class="badge badge-{{accepted_class}}" title="Agree or disagree">{{accepted}}</span>
            </td>
            <td class="restrict_text"></td>
            <td class="restrict_text">
            {{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}

        {% set data = surveydata[workflow.Workflow.name] %}
        <tr id="tr{{indicator.indicator.id}}">
        <td rowspan="2">{{ workflow.Workflow.title }}<input type="hidden" name="indicator" value="{{indicator.indicator.id}}" /></td>
        <td>
        <label for="{{indicator.indicator.id}}-agree-1">
        <input type="radio" name="{{indicator.indicator.id}}-agree" value="1" id="{{indicator.indicator.id}}-agree-1"{% if not (data and data[indicator.indicator.id].OrganisationSurveyData.published_accepted == 0) %} checked{%endif%}> Agree</input>
        <br />
        <span class="muted">Agree</span></label>
        <label for="{{indicator.indicator.id}}-agree-0">
        <input type="radio" name="{{indicator.indicator.id}}-agree" value="0" id="{{indicator.indicator.id}}-agree-0"{% if data and data[indicator.indicator.id].OrganisationSurveyData.published_accepted == 0 %} checked{%endif%}> Disagree</input>
        <br />
        <span class="muted">Disagree</span></label>
        </td>
        <td colspan="2"></td>
        </tr>
        <tr id="tr{{indicator.indicator.id}}">
        <td>
        {% for i, publishedstatus in publishedstatuses.items() %}
        <label for="{{indicator.indicator.id}}-published-{{publishedstatus.id}}">
        <input type="radio" name="{{indicator.indicator.id}}-published" value="{{publishedstatus.id}}" id="{{indicator.indicator.id}}-published-{{publishedstatus.id}}"{% if data and data[indicator.indicator.id].OrganisationSurveyData.published_status == publishedstatus.id %} checked{%endif%}> {{publishedstatus.title}}</input></label>
        {% endfor %}<br />
        {% if not indicator.indicator.indicator_noformat %}
        <b>Format:</b>
        {% for i, publishedformat in publishedformats.items() %}
        <label for="{{indicator.indicator.id}}-publishedformat-{{publishedformat.id}}">
        <input type="radio" name="{{indicator.indicator.id}}-publishedformat" value="{{publishedformat.id}}" id="{{indicator.indicator.id}}-publishedformat-{{publishedformat.id}}"{% if data and data[indicator.indicator.id].OrganisationSurveyData.published_format == publishedformat.id %} checked{%endif%}> {{publishedformat.title}}</input></label>
        {% endfor %}
        {% else %}
        <p><input type="hidden" name="{{indicator.indicator.id}}-noformat" value="1" />Format does not apply to this indicator, as it is a document.</p>
        {% endif %}        
        </td>

        <td><textarea name="{{indicator.indicator.id}}-source">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}{%endif%}</textarea></td>

        <td><textarea name="{{indicator.indicator.id}}-comments">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}{%endif%}</textarea></td>
        </tr>
{% endmacro %}
