{% from "surveys/_published.html" import published as published %}
{% from "surveys/_published_ordinal.html" import published_ordinal as published_ordinal %}
{% macro ind_zero(
  surveydata,
  rows,
  twentytwelvedata,
  old_publication_status,
  publishedstatuses,
  publishedformats,
  workflow,
  indicator,
  years,
  year_data,
  organisation
) %}
{% set data = surveydata.researcher %}
        <tr id="tr{{indicator.indicator.id}}" class="group-unknown">
            <td rowspan="2"><a href="#indicator{{indicator.indicator.id}}" role="button" data-toggle="modal">{{indicator.indicator.description}}</a>
                <div id="indicator{{indicator.indicator.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="indicatorHeader" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="indicatorHeader">Indicator: {{indicator.indicator.description}}</h3>
                    </div>
                    <div class="modal-body">
                        {{indicator.indicator.longdescription}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div></td>
            <td><span class="muted">2013</span></td>
            <td>
            {% if twentytwelvedata[indicator.indicator.name].result == '' %}
                <span class="badge">No 2013 data</span>
            {% else %}
                {% if not indicator.indicator.indicator_ordinal %}
                <span class="badge badge-{{old_publication_status[twentytwelvedata[indicator.indicator.name].publication_status].class}}" title="Researcher's initial assessment">{{ old_publication_status[twentytwelvedata[indicator.indicator.name].publication_status].text }}</span>
                {% else %}
                <span class="badge badge-{{year_data[twentytwelvedata[indicator.indicator.name].survey_ordinal_value|int].class}}" title="Researcher's initial assessment">{{ year_data[twentytwelvedata[indicator.indicator.name].survey_ordinal_value|int].text }}</span>
                {% endif %}
            {% endif %}
            </td>

            <td class="restrict_text">
            {{twentytwelvedata[indicator.indicator.name].survey_source}}
            </td>

            <td class="restrict_text">
            {{twentytwelvedata[indicator.indicator.name].survey_comment}}
            </td>
        </tr>
        <tr id="tr{{indicator.indicator.id}}">
        <td>Researcher<input type="hidden" name="indicator" value="{{indicator.indicator.id}}" /></td>
        <td>
          {% if indicator.indicator.indicator_ordinal %}
            {{ published_ordinal(data, publishedstatuses, publishedformats, indicator, years) }}
          {% else %}
            {{ published(data, publishedstatuses, publishedformats, indicator) }}
          {% endif %}
        </td>

        <td><textarea name="{{indicator.indicator.id}}-source">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}{%endif%}</textarea></td>

        <td><textarea name="{{indicator.indicator.id}}-comments">{% if data %}{{data[indicator.indicator.id].OrganisationSurveyData.published_comment}}{%endif%}</textarea></td>
        </tr>
{% endmacro %}
