{% macro ind_commitment(surveydata, rows, workflow, indicator, organisation) %}
	    <tr>        
            <td rowspan="{{rows}}"><a href="#indicator{{indicator.indicator.id}}" role="button" data-toggle="modal">{{indicator.indicator.description}}</a>
                <div id="indicator{{indicator.indicator.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="indicatorHeader" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="indicatorHeader">Indicator: {{indicator.indicator.description}}</h3>
                    </div>
                    <div class="modal-body">
                        {{indicator.indicator.longdescription}}
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div></td>
            <td><span class="muted">Researcher</span></td>
            <td>{{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}
            <td class="restrict_text_commitment">
            {{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text_commitment">
            {{surveydata.researcher[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% if workflow.Workflow.name=='pwyfreview' %}

        <tr>
            <td><span class="muted">Donor review</span></td>
            <td>{{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}<br />
            </td>
            <td class="restrict_text_commitment">
            {{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.published_source}}
            </td>
            <td class="restrict_text_commitment">
            {{surveydata.donorreview[indicator.indicator.id].OrganisationSurveyData.published_comment}}
            </td>
        </tr>
        {% endif %}
        {% if (workflow.Workflow.name == 'pwyfreview') and (surveydata.pwyfreview) %}
        {% set data = surveydata.pwyfreview %}
        {% set comment = data[indicator.indicator.id].OrganisationSurveyData.published_comment %}
        {% elif (workflow.Workflow.name == 'donorreview') and (surveydata.donorreview) %}
        {% set data = surveydata.donorreview %}
        {% set comment = data[indicator.indicator.id].OrganisationSurveyData.published_comment %}
        {% else %}
        {% set data = surveydata.researcher %}
        {% set comment = "" %}
        {% endif %}

        <tr id="tr{{indicator.indicator.id}}" class="commitment-indicator">
        <td>{{ workflow.Workflow.title }}<input type="hidden" name="indicator" value="{{indicator.indicator.id}}" /></td>
        <td>
        <div class="control-group">
            <div class="controls">
        {% if workflow.Workflow.name=='donorreview' %}
            <input type="hidden" name="{{indicator.indicator.id}}-ordinal_value" {% if surveydata %}value="{{data[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}" class="commitment-indicator-value"{% else %} class="commitment-indicator-value" value="0"{%endif%} /><input type="hidden" name="{{indicator.indicator.id}}-noformat" value="1" />
            {% if surveydata %}{{data[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}{%endif%}
        {% else %}
            <textarea name="{{indicator.indicator.id}}-ordinal_value" class="commitment-indicator-value">{% if surveydata %}{{data[indicator.indicator.id].OrganisationSurveyData.ordinal_value}}{%endif%}</textarea>
        {% endif %}
            </div>
        </div>
        </td>

        <td class="restrict_text_commitment">
        {% if workflow.Workflow.name=='donorreview' %}
            <input type="hidden" name="{{indicator.indicator.id}}-source" {% if surveydata %}value="{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}"{%endif%} />
            {% if surveydata %}{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}{%endif%}
        {% else %}
            <textarea name="{{indicator.indicator.id}}-source">{% if surveydata %}{{data[indicator.indicator.id].OrganisationSurveyData.published_source}}{%endif%}</textarea>
        {% endif %}
        </td>

        <td class="restrict_text_commitment"><textarea name="{{indicator.indicator.id}}-comments">{{comment}}</textarea></td>
        </tr>
{% endmacro %}
