{% set active_page='organisations'%}{% extends "layout.html" %}
{% block title %}Survey &raquo; {{organisation.organisation_name}} &raquo; Organisations{% endblock %}
{% block content %}
    <script src="{{url_for('static', filename='jquery.tablesorter.min.js')}}"></script>
    <script >
    $(function() {
    $("table#tests").tablesorter({ sortList: [[0,0]] });
    });
    </script>
    {% if not checksurveyOK %}
        <div class="pull-right alert alert-warning">
            <h5><i class="icon-info-sign"></i> This survey is broken.</h5>
            <a href="{{url_for('organisation_survey_repair', organisation_code=organisation.organisation_code)}}" class="btn btn-warning">
                <i class="icon-wrench icon-white"></i> 
                <b>Repair survey</b>
            </a>
        </div>
    {%endif%}
    <h1>Survey for <a href="{{url_for('organisations', organisation_code=organisation.organisation_code)}}">{{organisation.organisation_name}}</a></h1>
    {% if survey %}
    <p class="lead">Survey currently in {{survey.Workflow.title}} mode; {{pct_complete|int}}% complete.</p>
    <div class="progress">
        <div class="bar" width="{{pct_complete}}%"></div>
    </div>
    {% else %}
    <p class="lead">No survey has been created for this organisation yet.</p>
    <p><a class="btn btn-success" href="{{url_for('organisation_survey_edit', organisation_code=organisation.organisation_code, workflow_name='create')}}"><i class="icon-plus icon-white"></i> <b>Create survey &raquo;</b></a></p>

    {%endif%}
    <h3>Expected activities</h3>
    <table class="table">
    <thead>
    <th>Type</th><th>Workflow</th><th></th>
    </thead>
    <tbody>
    {% for workflow in workflows %}
    <tr>
    <td>
	  {% if workflow.Workflow.id == survey.Workflow.id %}
	  Ongoing
	  {% else %}
	    {% if workflow.Workflow.name in surveydata %}
	    Complete
	    {%else%}
	    Expected
	    {%endif%}
      {%endif%}
    </td>
    <td>{{workflow.Workflow.title}}</td>
    <td>
		{% if workflow.Workflow.id <= survey.Workflow.id %}
	  <a href="{{url_for('organisation_survey_edit', 
				 organisation_code=organisation.organisation_code, 
				 workflow_name=workflow.Workflow.name)}}">
		View &raquo;
	  </a>
		{% else %}
	  Not yet available
		{% endif %}
	</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <h3>Users</h3>
    <p class="lead">The following users have access to this survey:</p>
    <table class="table">
    <thead>
    <th>Name</th><th>Organisation</th><th>User type</th><th>Workflow</th>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
    <td><a href="{{url_for('users_edit', username=user.User.username)}}">{{user.User.name}}</a></td><td>{{user.User.organisation}}</td><td>{{user.UserPermission.permission_method}}</td><td>{{user.UserPermission.permission_name}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
