name: Integration Test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: iatidq
        # Set health checks to wait until postgres has started
        # https://docs.github.com/en/actions/using-containerized-services/creating-postgresql-service-containers
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - '127.0.0.1:5433:5432'
    strategy:
      matrix:
        python-version: [ '3.11' ]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: requirements_dev.txt
      - name: Install requirements_dev.txt
        run: pip install -r requirements_dev.txt
      - name: Config
        run: sed 's/# APP_ADMIN/APP_ADMIN/' config.py.tmpl > config.py
      - name: Init database
        run: flask init_db
      - run: cp tests/organisations_with_identifiers.csv tests/organisations_with_identifiers.csv.full
      - run: cat tests/organisations_with_identifiers.csv.full | grep -E '(country|Africa)' > tests/organisations_with_identifiers.csv
      - run: flask setup --force --admin-from-config
      - run: flask download_data
      - run: flask import_data
      - run: /usr/bin/time -v flask test_data
      - run: flask aggregate_results --force
      - run: flask setup_sampling
      - name: Run the tests
        run: flask run & py.test integration_tests
