name: Test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: iatidq_test
        # Set health checks to wait until postgres has started
        # https://docs.github.com/en/actions/using-containerized-services/creating-postgresql-service-containers
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - '127.0.0.1:5433:5432'
    strategy:
      matrix:
        python-version: [ '3.11' ]
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: requirements_dev.txt
      - name: Install requirements_dev.txt
        run: pip install -r requirements_dev.txt
      - name: Config
        run: cp config.py.tmpl config.py
      - name: Run the tests
        run: py.test unittests
      - name: Run black code formatting check on some files
        run: black --check conftest.py config_test.py unittests/test_web.py unittests/test_utils.py integration_tests/
      - name: Run isort import sorter check in some files
        run: isort --check conftest.py config_test.py unittests/test_web.py unittests/test_utils.py integration_tests/
